------------------------------------------------------------------------
-- Copyright:   2005 Gianluca Hotz
-- License:     MIT License
--              Permission is hereby granted, free of charge, to any
--              person obtaining a copy of this software and associated
--              documentation files (the "Software"), to deal in the
--              Software without restriction, including without
--              limitation the rights to use, copy, modify, merge,
--              publish, distribute, sublicense, and/or sell copies of
--              the Software, and to permit persons to whom the
--              Software is furnished to do so, subject to the
--              following conditions:
--              The above copyright notice and this permission notice
--              shall be included in all copies or substantial portions
--              of the Software.
--              THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF
--              ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT
--              LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
--              FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO
--              EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE
--              FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN
--              AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
--              OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
--              OTHER DEALINGS IN THE SOFTWARE.
--              This script needs to be run on the source system.
--
-- Descrizione: Questo script dimostra come creare un login e come
--				vengono fatte rispettare le politiche legate alle
--				password.
--
--				Verificare che il sistema operativo supporti le API
--				necessarie per fare rispettare le politiche (2003) e
--				che tali politiche (complessita' della password,
--				scadenza e numero di tentativi non corretti) siano
--				impostate correttamente (a livello di politiche locali
--				o di dominio)
------------------------------------------------------------------------

------------------------------------------------------------------------
-- Pulizia
------------------------------------------------------------------------
IF EXISTS(SELECT * FROM sys.sql_logins WHERE name = 'Sophie')
	DROP LOGIN Sophie
IF EXISTS(SELECT * FROM sys.sql_logins WHERE name = 'Alison')
	DROP LOGIN Alison
GO

------------------------------------------------------------------------
-- Creazione di login con autenticazione SQL Server e controllo policy
------------------------------------------------------------------------

-- creiamo una login chiedendo di fare rispettare le politiche
-- specificando una password non complessa, il sistema genera un errore
CREATE LOGIN Alison
WITH	PASSWORD = 'cccc'
,		DEFAULT_DATABASE = [master]
,		CHECK_EXPIRATION = ON
,		CHECK_POLICY = ON
GO

-- non si può nemmeno utilizzare parte del nome utente come password
CREATE LOGIN Alison
WITH	PASSWORD = 'Alison2021'
,		DEFAULT_DATABASE = [master]
,		CHECK_EXPIRATION = ON
,		CHECK_POLICY = ON
GO

-- se invece proviamo con una password complessa il comando riesce
CREATE LOGIN Alison
WITH	PASSWORD = 'Al1son2021'
,		DEFAULT_DATABASE = [master]
,		CHECK_EXPIRATION = ON
,		CHECK_POLICY = ON
GO

------------------------------------------------------------------------
-- creiamo una login specificando che l'utente dovra' modificare la
-- password al prossimo collegamento
------------------------------------------------------------------------
CREATE LOGIN Sophie
WITH	PASSWORD = 'Passw0rd!' MUST_CHANGE
,		DEFAULT_DATABASE = [master]
,		CHECK_EXPIRATION = ON
,		CHECK_POLICY = ON
GO

-- provare a connettersi con l'utente Sophie e cambiare la password

------------------------------------------------------------------------
-- provare a connettersi con l'utente Sophie ed a sbagliare la
-- password per 5 volte di seguito (l'account viene bloccato)
-- controllare con SSMS oppure con la seguente DMV
------------------------------------------------------------------------

SELECT	LOGINPROPERTY([name], N'IsLocked') AS is_locked, *
FROM	sys.sql_logins WHERE [name] = N'Sophie';
GO

-- per sbloccare l'utente, reimpostando la password, utilizzare
-- il seguente comando
ALTER LOGIN Sophie
WITH PASSWORD = 'Passw0rd01' UNLOCK
GO

------------------------------------------------------------------------
-- la creazione di una login con autenticazione nativa di SQL Server
-- permette anche di specificare il valore di hash della password,
-- questo puo' essere utile per trasferire gli utenti senza reimpostare
-- la loro password
------------------------------------------------------------------------

-- utilizzare il seguente comando per copiare il valore
-- di hash del login dell'utente Alison
SELECT password_hash FROM sys.sql_logins WHERE name = 'Alison'
GO

-- eliminre l'utente
DROP LOGIN Alison
GO

-- creare nuovamente l'utente sostituendo il valore di hash con
-- quello copiato precedentemente
CREATE LOGIN Alison
WITH	PASSWORD = 0x0200C9F4E9D63AA802121DA10C5A5426E2CAB29CA209DA4E7EA692D9E9C7CCFBD39F05B404A5B0A7FC3CE7202F83F97D77F2897F5D281EBB50A8C8DF0A3D8F809A17346F9AA0 HASHED
,		DEFAULT_DATABASE = master
,		CHECK_EXPIRATION = ON
,		CHECK_POLICY = ON
GO

-- provare a connettersi con Alison/Al1son2021
