------------------------------------------------------------------------
-- Copyright:   2005 Gianluca Hotz
-- License:     MIT License
--              Permission is hereby granted, free of charge, to any
--              person obtaining a copy of this software and associated
--              documentation files (the "Software"), to deal in the
--              Software without restriction, including without
--              limitation the rights to use, copy, modify, merge,
--              publish, distribute, sublicense, and/or sell copies of
--              the Software, and to permit persons to whom the
--              Software is furnished to do so, subject to the
--              following conditions:
--              The above copyright notice and this permission notice
--              shall be included in all copies or substantial portions
--              of the Software.
--              THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF
--              ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT
--              LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
--              FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO
--              EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE
--              FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN
--              AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
--              OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
--              OTHER DEALINGS IN THE SOFTWARE.
--              This script needs to be run on the source system.
--
-- Descrizione: Questo script dimostra come assegnare dei permessi.
--				
--				La dimostrazione e' suddivisa in due script, il primo
--				serve per creare l'utente ed assegnare i permessi, al
--				termine di queste attivita' si puo' aprire il secondo
--				script autenticandosi con l'utente creato e provare
--				l'accesso in base ai permessi assegnati.
------------------------------------------------------------------------

------------------------------------------------------------------------
-- Inizialmente l'utente ha solo i permessi di connettersi all'istanza
-- e di vedere l'elenco di tutti i database
------------------------------------------------------------------------

-- permessi a livello di istanza
SELECT * FROM sys.fn_my_permissions(NULL, 'SERVER');
GO

-- elenco dei database
SELECT * FROM sys.databases;
GO

-- se cerchiamo di utilizzare AdventureWorks2008R2 non possiamo perche'
-- non abbiamo il relativo permesso di connetterci
USE AdventureWorks2008R2;
GO


-- tornare alla prima connessione per dare accesso
-- al database AdventureWorks2008R2 a Sophie

------------------------------------------------------------------------
-- a questo punto Sophie e' in grado di accedere al database
------------------------------------------------------------------------
USE AdventureWorks2008R2;
GO

-- l'utente non e' pero' in grado di selezionare da nessuna tabella
-- perche' non ha permessi specifici ne appartiene a uno o piu' ruoli
-- con permessi specifici (nota: appartiene sempre almeno a public)
SELECT	*
FROM	Person.Person;
GO

-- tornare alla prima connessione e dare accesso ad alcune colonne di
-- una tabella del database

------------------------------------------------------------------------
-- provare ora ad accedere ad alcune colonne
------------------------------------------------------------------------
SELECT	FirstName
,		MiddleName
,		LastName
,		EmailPromotion
FROM	Person.Person
WHERE	EmailPromotion = 2;
GO

-- cercando di accedere ad altre colonne per le quali non sono stati
-- assegnati permessi specifici il comando ritorna un errore
SELECT	FirstName
,		MiddleName
,		Demographics  -- nessun permesso
FROM	Person.Person
WHERE	EmailPromotion = 2;
GO

------------------------------------------------------------------------
-- verificare che il catalogo rende disponibili solo gli oggetti per i
-- quali l'utente ha dei permessi (espliciti o ereditati)
------------------------------------------------------------------------
SELECT	*
FROM	INFORMATION_SCHEMA.TABLES;
GO
SELECT	*
FROM	sys.objects
WHERE	type_desc = 'USER_TABLE';
GO

-- anche oggetti correlati (non tutti intuitivi es. INTERNAL_TABLE)
SELECT	*
FROM	sys.objects;
GO

-- nessuna procedure disponibile perche' no permessi
SELECT	*
FROM	sys.procedures;
GO
SELECT	*
FROM	INFORMATION_SCHEMA.ROUTINES;	
GO

-- tornare alla prima connessione e assegnare permessi di EXECUTE

------------------------------------------------------------------------
-- verificare che e' possibile vedere le stored procedure e che si
-- possono eseguire
------------------------------------------------------------------------
SELECT	*
FROM	INFORMATION_SCHEMA.ROUTINES;
GO
EXEC dbo.uspGetBillOfMaterials 750, '20050701';
GO

-- tuttavia il permesso di esecuzione non da automaticamente il
-- il permesso di vedere la definizione della procedura
SELECT	ROUTINE_DEFINITION
FROM	INFORMATION_SCHEMA.ROUTINES
WHERE	ROUTINE_NAME = 'uspGetBillOfMaterials';
GO

EXEC sp_helptext 'dbo.uspGetBillOfMaterials';
GO

-- tornare alla prima connessione e assegnare permesso

------------------------------------------------------------------------
-- verificare visibilita' del corpo della procedura
------------------------------------------------------------------------
SELECT	ROUTINE_DEFINITION
FROM	INFORMATION_SCHEMA.ROUTINES
WHERE	ROUTINE_NAME = 'uspGetBillOfMaterials';
GO

EXEC sp_helptext 'dbo.uspGetBillOfMaterials';
GO

-- tuttavia non tutte le viste di catalogo limitano la visibilita'
-- per esempio sono visibili tutti i nomi delle colonne 
SELECT	*
FROM	INFORMATION_SCHEMA.COLUMNS;
GO

SELECT	*
FROM	sys.columns
WHERE	[object_id] = OBJECT_ID('Person.Person');
GO

-- tornare alla prima connessione e assegnare permesso

------------------------------------------------------------------------
-- verificare visibilita' delle colonne
------------------------------------------------------------------------
SELECT	*
FROM	INFORMATION_SCHEMA.COLUMNS;
GO

SELECT	*
FROM	sys.columns
WHERE	[object_id] = OBJECT_ID('Person.Person');
GO

------------------------------------------------------------------------
-- In generale, si cerca di semplificare l'assegnazione per esempio
-- usando gli schema
------------------------------------------------------------------------

-- tornare alla prima connessione e assegnare permesso a schema

------------------------------------------------------------------------
-- verificare accesso ad altre tabelle dello stesso schema
------------------------------------------------------------------------
SELECT * FROM Person.CountryRegion;
GO

SELECT	*
FROM	INFORMATION_SCHEMA.TABLES;
GO

SELECT * FROM Person.[Password];  -- deny esplicito tabella
GO

SELECT * FROM Person.[Address];  -- deny esplicito solo 2 colonne
GO

SELECT AddressID, City FROM	Person.[Address];
GO

------------------------------------------------------------------------
-- Sempre in ottica di semplificazione, ci sono ruoli definiti a
-- livello di database (e di server) che raggruppano permessi
-- vedere in SSMS
------------------------------------------------------------------------

-- tornare alla prima connessione e assegnare utente a ruolo database

------------------------------------------------------------------------
-- verificare accesso a tutte le tabelle/viste di tutti gli schema
------------------------------------------------------------------------
SELECT	*
FROM	INFORMATION_SCHEMA.TABLES;
GO

-- questo approccio di assegnare db_datareader e db_datawriter e'
-- piuttosto comune, tuttavia tende a essere troppo permissivo
-- e dunque a violare il principio del minor privilegio, un via di
-- mezzo potrebbe essere quella di creare ruoli meno permissivi

-- tornare alla prima connessione e creare nuovo ruolo

------------------------------------------------------------------------
-- verificare accesso in generale solo agli schema previsti
------------------------------------------------------------------------
SELECT	*
FROM	INFORMATION_SCHEMA.TABLES;
GO

------------------------------------------------------------------------
-- Vista di sistema per verificare i permessi dell'utente connesso
------------------------------------------------------------------------

-- a livello di istanza
SELECT * FROM sys.fn_my_permissions(NULL, 'SERVER');
GO
-- a livello di database
SELECT * FROM sys.fn_my_permissions(NULL, 'DATABASE');
GO
-- a livello di oggetto
SELECT * FROM sys.fn_my_permissions('dbo.uspGetBillOfMaterials', 'OBJECT')
GO
-- nulla per via del DENY SELECT esplicito
SELECT * FROM sys.fn_my_permissions('Person.Password', 'OBJECT')
GO
-- no colonne AddressLine1 e AddressLine2 per via del DENY esplicito
SELECT * FROM sys.fn_my_permissions('Person.Address', 'OBJECT')
GO
-- no colonne per via del DENY VIEW DEFINITION
SELECT * FROM sys.fn_my_permissions('Person.Person', 'OBJECT')
GO
