------------------------------------------------------------------------
-- Copyright:   2005 Gianluca Hotz
-- License:     MIT License
--              Permission is hereby granted, free of charge, to any
--              person obtaining a copy of this software and associated
--              documentation files (the "Software"), to deal in the
--              Software without restriction, including without
--              limitation the rights to use, copy, modify, merge,
--              publish, distribute, sublicense, and/or sell copies of
--              the Software, and to permit persons to whom the
--              Software is furnished to do so, subject to the
--              following conditions:
--              The above copyright notice and this permission notice
--              shall be included in all copies or substantial portions
--              of the Software.
--              THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF
--              ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT
--              LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
--              FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO
--              EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE
--              FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN
--              AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
--              OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
--              OTHER DEALINGS IN THE SOFTWARE.
--              This script needs to be run on the source system.
------------------------------------------------------------------------

------------------------------------------------------------------------
-- Pulizia
------------------------------------------------------------------------
USE AdventureWorks2008R2;
IF EXISTS(SELECT * FROM sys.database_principals WHERE name = 'Sophie')
	DROP USER Sophie;
USE master;
IF EXISTS(SELECT * FROM sys.sql_logins WHERE name = 'Sophie')
	DROP LOGIN Sophie;
GO

------------------------------------------------------------------------
-- creiamo una login e utente
------------------------------------------------------------------------
CREATE LOGIN Sophie WITH PASSWORD = 'Passw0rd!';
GO
USE AdventureWorks2008R2;
CREATE USER Sophie FOR LOGIN Sophie;
GO

-- verifichiamo i SID
SELECT * FROM sys.server_principals WHERE [name] IN ('Sophie', 'ALPHAP51\gianl');
SELECT * FROM sys.database_principals WHERE [name] IN ('Sophie', 'ALPHAP51\gianl');
GO

------------------------------------------------------------------------
-- se a questo punto ricreiamo la login senza eliminare l'utente...
------------------------------------------------------------------------
DROP LOGIN Sophie;
CREATE LOGIN Sophie WITH PASSWORD = 'Passw0rd!';
GO

-- ... e verifichiamo i SID
SELECT * FROM sys.server_principals WHERE [name] = 'Sophie';
SELECT * FROM sys.database_principals WHERE [name] = 'Sophie';
GO

-- quello dell'utente Sophie ha un nuovo SID generato da SQL che non
-- corrisponde con quello dell'utente nel database, Sophie non puo'
-- accedere al database (verificare accessi tramite SSMS e provare
-- ad aggiungere l'utente da interfaccia)

-- eliminare e ricreare l'utente siginfica dover anche riassegnare
-- tutti i permessi, un modo di sistemare il problema e' tramite questa
-- procedura di sistema
SELECT * FROM sys.server_principals WHERE [name] = 'Sophie';
SELECT * FROM sys.database_principals WHERE [name] = 'Sophie';
EXEC sp_change_users_login
		@Action = 'Update_one'
	,	@UserNamePattern = 'Sophie'
	,	@LoginName = 'Sophie';
GO
SELECT * FROM sys.server_principals WHERE [name] = 'Sophie';
SELECT * FROM sys.database_principals WHERE [name] = 'Sophie';
GO

------------------------------------------------------------------------
-- in alternativa e' possibile specificare il SID in fase di creazione
------------------------------------------------------------------------
DROP LOGIN Sophie;
CREATE LOGIN Sophie
WITH	PASSWORD = 'Passw0rd!'
,		SID = 0xAEEA1856C4514B4382F20D374E554FA5;
GO

------------------------------------------------------------------------
-- in caso di migrazione o di sincronizzazione di login/user tra
-- istanze diverse, e' possibile utilizzare questa procedura di sistema
-- inclusa nella documentazione (prima era in articolo della KB)
-- https://docs.microsoft.com/en-us/troubleshoot/sql/security/transfer-logins-passwords-between-instances
------------------------------------------------------------------------
EXEC dbo.sp_help_revlogin;
GO

------------------------------------------------------------------------
-- oppure il cmdlet Copy-DbaLogin del modulo https://dbatools.io
------------------------------------------------------------------------
