------------------------------------------------------------------------
-- Copyright:   2005 Gianluca Hotz
-- License:     MIT License
--              Permission is hereby granted, free of charge, to any
--              person obtaining a copy of this software and associated
--              documentation files (the "Software"), to deal in the
--              Software without restriction, including without
--              limitation the rights to use, copy, modify, merge,
--              publish, distribute, sublicense, and/or sell copies of
--              the Software, and to permit persons to whom the
--              Software is furnished to do so, subject to the
--              following conditions:
--              The above copyright notice and this permission notice
--              shall be included in all copies or substantial portions
--              of the Software.
--              THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF
--              ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT
--              LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
--              FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO
--              EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE
--              FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN
--              AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
--              OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
--              OTHER DEALINGS IN THE SOFTWARE.
--              This script needs to be run on the source system.
--
-- Descrizione: Questo script dimostra la separazione tra utente e schema
------------------------------------------------------------------------

USE master
GO

------------------------------------------------------------------------
-- creiamo due nuovi utenti
------------------------------------------------------------------------
IF EXISTS(SELECT * FROM sys.sql_logins WHERE name = 'User1')
	DROP LOGIN User1;
IF EXISTS(SELECT * FROM sys.sql_logins WHERE name = 'User2')
	DROP LOGIN User2;
GO
CREATE LOGIN User1 WITH PASSWORD = 'Passw0rd'
CREATE LOGIN User2 WITH PASSWORD = 'Passw0rd'
GO

------------------------------------------------------------------------
-- creiamo un database per effettuare le prove
------------------------------------------------------------------------
IF EXISTS(SELECT * FROM sys.databases WHERE name = 'SecurityTest')
	ALTER DATABASE SecurityTest SET SINGLE_USER WITH ROLLBACK IMMEDIATE
	DROP DATABASE SecurityTest
GO
CREATE DATABASE SecurityTest
GO

------------------------------------------------------------------------
-- creiamo gli utenti nel nuovo database
------------------------------------------------------------------------
USE SecurityTest
IF EXISTS(SELECT * FROM sys.database_principals WHERE name = 'User1')
	DROP USER User1
IF EXISTS(SELECT * FROM sys.database_principals WHERE name = 'User2')
	DROP USER User2
GO
CREATE USER User1 FOR LOGIN User1
CREATE USER User2 FOR LOGIN User2
GO

------------------------------------------------------------------------
-- il creaiamo una tabella nello schema predefinito dbo
------------------------------------------------------------------------
IF OBJECTPROPERTY(OBJECT_ID('dbo.Contact'), 'IsUserTable') = 1
  DROP TABLE dbo.Contact;
GO
CREATE TABLE dbo.Contact(
	ContactID	int			NOT NULL
,	ContactName	varchar(50)	NOT NULL

,	CONSTRAINT	pkContact
	PRIMARY KEY	(ContactID)
);
GO
INSERT	dbo.Contact VALUES(1, 'Contact 1 (dbo)')
INSERT	dbo.Contact VALUES(2, 'Contact 2 (dbo)')
INSERT	dbo.Contact VALUES(3, 'Contact 3 (dbo)')
GO

-- assegniamo i permessi per poter selezionare dalla tabella a
-- entrambi gli utenti
GRANT SELECT TO User1, User2
GO

------------------------------------------------------------------------
-- assumiamo il contesto prima di User1, e poi di User2, e verifichiamo
-- che possano selezionare, entrambi non specificano nessuno schema ma
-- accedono comunque allo schema dbo che gli e' stato assegnato come
-- schema di default non avendone specificato un altro
------------------------------------------------------------------------
EXECUTE AS USER = 'User1'

SELECT *, USER_NAME() AS UserContext FROM Contact

REVERT

EXECUTE AS USER = 'User2'

SELECT *, USER_NAME() AS UserContext FROM Contact

REVERT
GO

------------------------------------------------------------------------
-- adesso creiamo uno schema con lo stesso nome di dell'utente User1 e
-- assegniamo la proprieta' di questo schema a User1
------------------------------------------------------------------------
IF EXISTS(SELECT * FROM sys.schemas WHERE name = 'User1')
	DROP SCHEMA User1
GO
CREATE SCHEMA User1 AUTHORIZATION User1
GO

------------------------------------------------------------------------
-- dobbiamo ora assegnare il permesso di creazione delle tabelle a
-- User1, tutti gli altri permessi sullo schema di nome User1 sono
-- impliciti perche' User1 e' il proprietario
------------------------------------------------------------------------
GRANT CREATE TABLE TO User1
GO

------------------------------------------------------------------------
-- User1 crea una tabella nello schema User con lo stesso nome della
-- tabella creata nello schema dbo
------------------------------------------------------------------------
EXECUTE AS USER = 'User1'
GO
-- create a schema and a table in one go
IF OBJECTPROPERTY(OBJECT_ID('User1.Contact'), 'IsUserTable') = 1
  DROP TABLE User1.Contact
GO
CREATE TABLE User1.Contact(
	ContactID	int			NOT NULL
,	ContactName	varchar(50)	NOT NULL

,	CONSTRAINT	pkContact
	PRIMARY KEY	(ContactID)
)
GO
INSERT	User1.Contact VALUES(1, 'Contact 1 (User 1)')
INSERT	User1.Contact VALUES(2, 'Contact 2 (User 1)')
INSERT	User1.Contact VALUES(3, 'Contact 3 (User 1)')

REVERT
GO

------------------------------------------------------------------------
-- se l'utente User1 prova a selezionare dalla tabella senza specificare
-- uno schema, continua ad accedere al suo schema di default (dbo)
------------------------------------------------------------------------
EXECUTE AS USER = 'User1'

SELECT *, USER_NAME() AS UserContext FROM Contact

REVERT
GO

------------------------------------------------------------------------
-- se assegniamo come schema di default lo schema di nome User1
-- all'utente User1, e se User1 prova a selezionare senza specificare
-- uno schema, ora accede al nuovo schema di default (User1)
------------------------------------------------------------------------
ALTER USER User1 WITH DEFAULT_SCHEMA = User1
GO
EXECUTE AS USER = 'User1'

SELECT *, USER_NAME() AS UserContext FROM Contact

REVERT
GO

------------------------------------------------------------------------
-- lo schema di default di User2 e' ancora dbo, quindi la risoluzione
-- dei nomi lo farebbe accedere a tale schema se provasse a selezionare
-- senza specificare uno schema
------------------------------------------------------------------------
EXECUTE AS USER = 'User2'

SELECT *, USER_NAME() AS UserContext FROM Contact

REVERT
GO

------------------------------------------------------------------------
-- se pero' User1 assegna il diritto di poter selezionare dalla sua
-- tabella, e se User2 qualifica lo schema di nome User1, puo' accedere
-- anche alla tabella dell'utente User1
------------------------------------------------------------------------
EXECUTE AS USER = 'User1'

GRANT SELECT ON User1.Contact TO User2

REVERT
GO
EXECUTE AS USER = 'User2'

SELECT *, USER_NAME() AS UserContext FROM User1.Contact

REVERT
GO

------------------------------------------------------------------------
-- se l'utente User1 lascia la societa', dobbiamo assegnare la
-- proprieta' dello schema a qualcun'altro, ad esempio a User2 (che non
-- significa dover spostare gli oggetti nello schema di nome User2,
-- proprio perche' utente e schema sono due concetti separati)
------------------------------------------------------------------------
ALTER AUTHORIZATION ON SCHEMA::User1 TO User2
GO
IF EXISTS(SELECT * FROM sys.database_principals WHERE name = 'User1')
	DROP USER User1
GO

------------------------------------------------------------------------
-- possiamo verificare che effettivamente l'utente User2 continua a
-- selezionare dalla tabella nello schema di nome User1 che
-- precedentemente era di proprieta' dell'utente User1
------------------------------------------------------------------------
EXECUTE AS USER = 'User2'

SELECT *, USER_NAME() AS UserContext FROM User1.Contact

REVERT
GO

------------------------------------------------------------------------
-- gli esempi precedenti sono stati preparati appositamente per
-- delineare le differenze nella risoluzione dei nomi e la separazione
-- tra utenti e schema che nelle versioni di SQL Server precedenti la
-- 2005 concidevano con tutte le implicazioni del caso per quanto
-- riguarda il trasferimento dei permessi e l'integrita' della catena
-- di proprieta' degli oggetti, in realta' le applicazioni non hanno
-- nessun motivo di utilizzare nomi per gli schemi che coincidono
-- con i nomi degli utenti, segue un esempio piu' realistico
------------------------------------------------------------------------

-- pulizia
USE master
GO

------------------------------------------------------------------------
-- creiamo un database per effettuare le prove
------------------------------------------------------------------------
IF EXISTS(SELECT * FROM sys.databases WHERE name = 'SecurityTest')
	ALTER DATABASE SecurityTest SET SINGLE_USER WITH ROLLBACK IMMEDIATE
	DROP DATABASE SecurityTest
GO
CREATE DATABASE SecurityTest
GO

------------------------------------------------------------------------
-- il dbo crea una tabella nello schema di nome CRM
------------------------------------------------------------------------
USE SecurityTest
GO
CREATE SCHEMA CRM
	CREATE TABLE Contact(
		ContactID	int			NOT NULL
	,	ContactName	varchar(50)	NOT NULL

	,	CONSTRAINT	pkContact
		PRIMARY KEY	(ContactID)
	)
GO
INSERT	CRM.Contact VALUES(1, 'Contact 1')
INSERT	CRM.Contact VALUES(2, 'Contact 2')
INSERT	CRM.Contact VALUES(3, 'Contact 3')
GO

------------------------------------------------------------------------
-- poi il dbo aggiunge degli utenti
------------------------------------------------------------------------
IF EXISTS(SELECT * FROM sys.sql_logins WHERE name = 'User1')
	DROP LOGIN User1
IF EXISTS(SELECT * FROM sys.sql_logins WHERE name = 'User2')
	DROP LOGIN User2
GO
CREATE LOGIN User1 WITH PASSWORD = 'Passw0rd'
CREATE LOGIN User2 WITH PASSWORD = 'Passw0rd'
GO

IF EXISTS(SELECT * FROM sys.database_principals WHERE name = 'User1')
	DROP USER User1
GO
IF EXISTS(SELECT * FROM sys.database_principals WHERE name = 'User2')
	DROP USER User2
GO
CREATE USER User1 FOR LOGIN User1
CREATE USER User2 FOR LOGIN User2
GO

------------------------------------------------------------------------
-- a questo punto il dbo assegna semplicemente agli utenti il permesso
-- per poter selezionare da tutte le tabelle dello schema
------------------------------------------------------------------------
GRANT SELECT ON SCHEMA::CRM TO User1, User2
GO

------------------------------------------------------------------------
-- verifichiamo che gli utenti possano effettivamente selezionare
------------------------------------------------------------------------
EXECUTE AS USER = 'User1'

SELECT *, USER_NAME() AS UserContext FROM CRM.Contact

REVERT

EXECUTE AS USER = 'User2'

SELECT *, USER_NAME() AS UserContext FROM CRM.Contact

REVERT
GO
