/*
** Questo script dimostra come assegnare dei permessi.
**
** La dimostrazione e' suddivisa in due script, il primo
** serve per creare l'utente ed assegnare i permessi, al
** termine di queste attivita' si puo' aprire il secondo
** script autenticandosi con l'utente creato e provare
** l'accesso in base ai permessi assegnati.
**
*/

-- Inizialmente l'utente non ha accesso a nessun database,
-- se ad esempio cerchiamo di utilizzare Adventureworks non
-- possiamo perche' non abbiamo il permesso
USE AdventureWorks
GO

-- da notare che l'utente, di default, puo' comunque vedere
-- l'elenco dei database in carico all'istanza, possiamo
-- impedirlo con DENY VIEW ANY DEFINITION TO Sophie
SELECT	*
FROM	sys.databases
GO

-- tornare alla prima connessione per dare accesso
-- al database AdventureWorks a Sophie

-- a questo punto Sophie e' in grado di accedere al
-- database
USE AdventureWorks
GO

-- l'utente non e' pero' in grado di selezionare da
-- nessuna tabella perche' non ha permessi specifici
-- ne appartiene ad uno o piu' ruoli con permessi
-- specifici (appartiene almeno a public)
SELECT	*
FROM	Person.Contact
GO

-- tornare alla prima connessione e dare accesso
-- ad alcune colonne di una tabella del database

-- provare ora ad accedere ad alcune colonne
SELECT	FirstName
,		MiddleName
,		LastName
,		EmailAddress
,		EmailPromotion
,		Phone
FROM	Person.Contact
WHERE	EmailPromotion = 2
GO

-- cercando di accedere ad altre colonne per le quali
-- non sono stati assegnati permessi specifici il comando
-- ritorna un errore
SELECT	FirstName
,		MiddleName
,		PasswordHash
FROM	Person.Contact
WHERE	EmailPromotion = 2
GO

-- verificare che il catalogo rende disponibili solo
-- gli oggetti per i quali l'utente ha dei permessi
SELECT	*
FROM	INFORMATION_SCHEMA.TABLES

SELECT	*
FROM	sys.objects
WHERE	type_desc = 'USER_TABLE'

SELECT	*
FROM	INFORMATION_SCHEMA.ROUTINES
GO

-- tornare alla prima connessione ed assegnare
-- altri permessi

-- verificare che e' possibile vedere altri oggetti
SELECT	*
FROM	INFORMATION_SCHEMA.ROUTINES
GO

-- verificare i permessi associati all'utente connesso
-- per il server
SELECT * FROM sys.fn_my_permissions(NULL, 'SERVER')

-- verificare i permessi associati all'utente connesso
-- per il database
SELECT * FROM sys.fn_my_permissions(NULL, 'DATABASE')

-- verificare i permessi associati all'utente connesso
-- per la tabella
SELECT * FROM sys.fn_my_permissions('Person.Contact', 'OBJECT')

-- tornare al primo script e terminare
