/*
** This script demonstrates how to create a login and how
** password policies are enforced
**
** Verify that the instance uses an operative system
** supporting the APIs needed for policy enforcement
** and that the policy are correctly setup (either for
** the local machine or for the domain)
*/

-- cleanup
IF EXISTS(SELECT * FROM sys.sql_logins WHERE name = 'Sophie')
	DROP LOGIN Sophie
IF EXISTS(SELECT * FROM sys.sql_logins WHERE name = 'Alison')
	DROP LOGIN Alison
GO

-- create login with password policy enforcement and weak password
CREATE LOGIN Alison
WITH	PASSWORD = 'cccc'
,		DEFAULT_DATABASE = master
,		CHECK_EXPIRATION = ON
,		CHECK_POLICY = ON
GO

-- create login with password policy enforcement and strong password
CREATE LOGIN Alison
WITH	PASSWORD = 'Passw0rd'
,		DEFAULT_DATABASE = master
,		CHECK_EXPIRATION = ON
,		CHECK_POLICY = ON
GO

-- create login without password policy enforcement
-- and force user to change it on next logon
CREATE LOGIN Sophie
WITH	PASSWORD = 'Passw0rd' MUST_CHANGE
,		DEFAULT_DATABASE = master
,		CHECK_EXPIRATION = ON
,		CHECK_POLICY = ON
GO

-- test connecting with user Sophie

-- if the login is locked out because of policy enforcement,
-- unlock it with DDL command
ALTER LOGIN Sophie
WITH PASSWORD = 'Passw0rd01' UNLOCK
GO

-- verify logins
SELECT * FROM sys.sql_logins
GO

-- get password hash
SELECT password_hash FROM sys.sql_logins WHERE name = 'Alison'
GO

-- eliminate the login
DROP LOGIN Alison
GO

-- create login specifying hashed password (changes everytime)
CREATE LOGIN Alison
WITH	PASSWORD = 0x0100A4B5ADC98E1753854846C4C3EBEBE2C1F2194007D6B51FA7 HASHED
,		DEFAULT_DATABASE = master
,		CHECK_EXPIRATION = ON
,		CHECK_POLICY = ON
GO

-- check connecting