/*
** Questo script dimostra come assegnare dei permessi.
**
** La dimostrazione e' suddivisa in due script, il primo
** serve per creare l'utente ed assegnare i permessi, al
** termine di queste attivita' si puo' aprire il secondo
** script autenticandosi con l'utente creato e provare
** l'accesso in base ai permessi assegnati.
**
*/

-- pulizia
USE AdventureWorks
IF EXISTS(SELECT * FROM sys.database_principals WHERE name = 'Sophie')
	DROP USER Sophie
USE master
IF EXISTS(SELECT * FROM sys.sql_logins WHERE name = 'Sophie')
	DROP LOGIN Sophie
GO

-- creiamo una login, di default questo utente ha il
-- permesso di connettersi all'istanza tramite gli
-- endpoint predefiniti in esecuzione
CREATE LOGIN Sophie
WITH	PASSWORD = 'Passw0rd'
GO

-- aprire il secondo script connettendosi con Sophie

-- diamo accesso al database AdventureWorks a Sophie
-- creando un utente in un dataabse, di default viene
-- assegnato anche il permesso di CONNECT al database
USE AdventureWorks
CREATE USER Sophie FOR LOGIN Sophie
GO

-- tornare al secondo script e provare ad accedere

-- assegnare i permessi per accedere ad alcune
-- colonne di una tabella

GRANT SELECT
ON Person.Contact (
		FirstName
,		MiddleName
,		LastName
,		EmailAddress
,		EmailPromotion
,		Phone
)
TO Sophie
GO

-- tornare al secondo script e provare ad accedere

-- assegnare i permessi per poter eseguire tutte le
-- procedure e le funzioni del database
GRANT EXEC TO Sophie
GO

-- tornare al secondo script e provare ad accedere

-- sono disponibili svariati permessi che possono
-- essere applicati a svariati securables e che
-- sono ereditati automaticamente da altri permessi
-- per visualizzare l'insieme dei permessi, eseguire
-- il seguente comando
SELECT * FROM sys.fn_builtin_permissions(default)
GO
