------------------------------------------------------------------------
--	Description:	Database with data/log files in Azure =:-|
------------------------------------------------------------------------
--	Copyright (c) 2015 Gianluca Hotz
--	Permission is hereby granted, free of charge, to any person
--	obtaining a copy of this software and associated documentation files
--	(the "Software"), to deal in the Software without restriction,
--	including without limitation the rights to use, copy, modify, merge,
--	publish, distribute, sublicense, and/or sell copies of the Software,
--	and to permit persons to whom the Software is furnished to do so,
--	subject to the following conditions:
--	The above copyright notice and this permission notice shall be
--	included in all copies or substantial portions of the Software.
--	THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
--	EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
--	MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
--	NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS
--	BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN
--	ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
--	CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
--	SOFTWARE.
------------------------------------------------------------------------
USE master;
GO

------------------------------------------------------------------------
--	Credential need to be of kind Shared Access Signature and the name
--	must match the name of URL of the container
------------------------------------------------------------------------
IF EXISTS(SELECT * FROM sys.credentials WHERE name = 'https://hcdemo.blob.core.windows.net/sqlfiles')
	DROP CREDENTIAL [https://hcdemo.blob.core.windows.net/sqlfiles];
GO

CREATE CREDENTIAL [https://hcdemo.blob.core.windows.net/sqlfiles]
WITH
	IDENTITY = 'SHARED ACCESS SIGNATURE'
,	SECRET = '<INSERT SAS HERE>';
GO

------------------------------------------------------------------------
--	Then you simply create the files...
------------------------------------------------------------------------
IF EXISTS(SELECT * FROM sys.databases WHERE name = 'TestAzureFiles')
	DROP DATABASE TestAzureFiles;
GO
CREATE DATABASE TestAzureFiles
CONTAINMENT = NONE
ON  PRIMARY 
(
	NAME = N'Test'
,	FILENAME = N'https://hcdemo.blob.core.windows.net/sqlfiles/TestAzureFiles.mdf', SIZE = 5MB , FILEGROWTH = 1MB
)
LOG ON 
(	NAME = N'Test_log'
,	FILENAME = N'https://hcdemo.blob.core.windows.net/sqlfiles/TestAzureFiles.ldf', SIZE = 5MB, FILEGROWTH = 1MB
)
GO

------------------------------------------------------------------------
--	Create a table to hold inserts and start workload
------------------------------------------------------------------------
IF OBJECT_ID('TestAzureFiles.dbo.T1') IS NOT NULL
	DROP TABLE TestAzureFiles.dbo.T1;
CREATE TABLE TestAzureFiles.dbo.T1(C1 sysname NOT NULL, C2 INT NOT NULL);
GO

------------------------------------------------------------------------
--	Check the latencies!
------------------------------------------------------------------------
SELECT	F2.physical_name
,		CASE WHEN (1.0 * F1.num_of_reads) > 0 THEN CAST(F1.io_stall_read_ms / (1.0 * F1.num_of_reads) AS decimal(8, 2)) ELSE NULL END AS avg_read_stall_ms
,		CASE WHEN (1.0 * F1.num_of_writes) > 0 THEN CAST(F1.io_stall_write_ms / (1.0 * F1.num_of_writes) AS decimal(8, 2)) ELSE NULL END AS avg_write_stall_ms
,		CASE WHEN (1.0 * (F1.num_of_reads + F1.num_of_writes)) > 0 THEN CAST((F1.io_stall_read_ms + F1.io_stall_write_ms) / (1.0 * (F1.num_of_reads + F1.num_of_writes)) AS decimal(8, 2)) ELSE NULL END AS avg_total_stall_ms
,		F1.num_of_reads, F1.num_of_writes, F1.num_of_reads + F1.num_of_writes AS total_iops
FROM	sys.dm_io_virtual_file_stats(DB_ID('TestAzureFiles'), default) AS F1
JOIN	sys.master_files AS F2
  ON	F1.database_id = F2.database_id
 AND	F1.[file_id] = F2.[file_id];
GO
CHECKPOINT
DBCC DROPCLEANBUFFERS;
SELECT COUNT(*) FROM TestAzureFiles.dbo.T1;
GO
