------------------------------------------------------------------------
--	Description:	Failover to Azure VM: setup cloud VM
------------------------------------------------------------------------
--	Copyright (c) 2015 Gianluca Hotz
--	Permission is hereby granted, free of charge, to any person
--	obtaining a copy of this software and associated documentation files
--	(the "Software"), to deal in the Software without restriction,
--	including without limitation the rights to use, copy, modify, merge,
--	publish, distribute, sublicense, and/or sell copies of the Software,
--	and to permit persons to whom the Software is furnished to do so,
--	subject to the following conditions:
--	The above copyright notice and this permission notice shall be
--	included in all copies or substantial portions of the Software.
--	THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
--	EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
--	MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
--	NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS
--	BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN
--	ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
--	CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
--	SOFTWARE.
------------------------------------------------------------------------


------------------------------------------------------------------------
--	Create logins (see setup on-premise or discussion around SIDs)
------------------------------------------------------------------------
USE master
GO
-- Login: TestHC
IF EXISTS(SELECT * FROM sys.server_principals WHERE name = 'TestHC')
	DROP LOGIN TestHC;
GO
CREATE LOGIN TestHC
	WITH PASSWORD = 0x020040CBFC73978EEA1183EB25D3FEDC4936103FF4013578BF01F8ECFCCD4188F8CC53967B4E7A758122E5B9EDD84FF76C593AEF9C78B3D9A7C3F318883F3037697B89ED000F HASHED
,	SID = 0x3DEA55481C1EE04294F34D02E66691E6
,	DEFAULT_DATABASE = [master], CHECK_POLICY = OFF, CHECK_EXPIRATION = OFF

GO

------------------------------------------------------------------------
-- Create credential to restore database backup sets
------------------------------------------------------------------------
IF EXISTS(SELECT * FROM sys.credentials WHERE name = 'AzureCredential')
	DROP CREDENTIAL AzureCredential;
GO

CREATE CREDENTIAL AzureCredential
WITH
	-- this is the name of the storage account
	IDENTITY= 'hcdemo'
	-- this should be either the Primary or Secondary Access Key for the storage account
,	SECRET = '<INSERT KEY HERE>';
GO

------------------------------------------------------------------------
--	After failing over, check inserts
------------------------------------------------------------------------
SELECT	C1, COUNT(*) AS num_inserts
FROM	TestAzure.dbo.T1
GROUP BY C1;
GO