------------------------------------------------------------------------
--	Description:	Failover to Azure VM: setup on-premise
------------------------------------------------------------------------
--	Copyright (c) 2015 Gianluca Hotz
--	Permission is hereby granted, free of charge, to any person
--	obtaining a copy of this software and associated documentation files
--	(the "Software"), to deal in the Software without restriction,
--	including without limitation the rights to use, copy, modify, merge,
--	publish, distribute, sublicense, and/or sell copies of the Software,
--	and to permit persons to whom the Software is furnished to do so,
--	subject to the following conditions:
--	The above copyright notice and this permission notice shall be
--	included in all copies or substantial portions of the Software.
--	THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
--	EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
--	MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
--	NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS
--	BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN
--	ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
--	CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
--	SOFTWARE.
------------------------------------------------------------------------

------------------------------------------------------------------------
--	Setup login
--
--	Note: we are creating the SQL login with a preassigned SID to avoid
--	having to use system procedure sp_change_users_login to
--	re-estabilish the connection between the login and the database user
--	on the DR instance when we restore the database; in a real life
--	scenario logins are regularly created on the on-premise instance
--	without specifying SIDs, procedure sp_help_revlogin can be used to
--	generate script to re-cerate them with both the original SID and
--	original password (hash).
--	The procedure is available in the following KB article:
--	http://support.microsoft.com/en-us/kb/918992
--	Another option to overcome the problem is to use contained databases
------------------------------------------------------------------------
USE master
GO
--	create on-premise login with SQL Authentication
IF EXISTS(SELECT * FROM sys.server_principals WHERE name = 'TestHC')
	DROP LOGIN TestHC;
GO
CREATE LOGIN TestHC
WITH
	PASSWORD=N'Passw0rd!', DEFAULT_DATABASE=master, CHECK_EXPIRATION=OFF, CHECK_POLICY=OFF
,	SID = 0x3DEA55481C1EE04294F34D02E66691E6
GO

------------------------------------------------------------------------
--	Setup test database
------------------------------------------------------------------------
IF EXISTS(SELECT * FROM sys.databases WHERE name = 'TestAzure')
	DROP DATABASE TestAzure;
GO
CREATE DATABASE TestAzure
GO

USE TestAzure;
GO

-- create a table to hold inserts
IF OBJECT_ID('dbo.T1') IS NOT NULL
	DROP TABLE dbo.T1;
CREATE TABLE dbo.T1(C1 sysname NOT NULL, C2 INT NOT NULL);
GO

-- create user on-premise
CREATE USER TestHC FOR LOGIN TestHC
GO
ALTER ROLE db_owner ADD MEMBER TestHC
GO

------------------------------------------------------------------------
--	Setup credentials to be used by backups
------------------------------------------------------------------------
IF EXISTS(SELECT * FROM sys.credentials WHERE name = 'AzureCredential')
	DROP CREDENTIAL AzureCredential;
GO

CREATE CREDENTIAL AzureCredential
WITH
	-- this is the name of the storage account
	IDENTITY= 'hcdemo'
	-- this should be either the Primary or Secondary Access Key for the storage account
,	SECRET = 'SsTxL8OhuSO8YKbrDwh0OWSdALFM/CxxBbsJzJx+zHMwnqeAB2Fkc5VVDlW3voctL3vUIbXkiXfHqrjmtjVhCA==';
GO
