/*
** This script is used to demonstrate the
** new transaction isolation levels in
** SQL Server 2005
**
** It must be run on connection 2
*/

-- change database context
USE AdventureWorks
GO

/*
** 1st scenario: writer block readers
*/

-- Transaction T2 starts in READ COMMITTED TIL
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

-- T2 and tries to select the same row
SELECT	*
FROM	Person.Contact
WHERE	ContactID = 1;

-- switch to connection 3 to see T2 waiting
-- for a shared lock


/*
** 2nd scenario: reader block writer
*/

-- Transaction T2 starts in READ COMMITTED TIL
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

-- T2 selects the same row (shared locks compatible)
SELECT	*
FROM	Person.Contact
WHERE	ContactID = 1;

-- T2 tries to update the row
UPDATE	Person.Contact
SET	Phone = '999-999-999'
WHERE	ContactID = 1;

-- switch to connection 3 to see T2 waiting
-- for an exclusive lock

/*
** 3rd scenario: read uncommittd, a bad scenario!
*/
-- Transaction T2 starts in READ UNCOMMITTED TIL
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

-- T2 selects the same row, excluse lock not honored,
-- does a dirty read of modified data
SELECT	*
FROM	Person.Contact
WHERE	ContactID = 1;

/*
** 4th scenario: read committed snapshot isolation
**                  writers don't block readers
*/
-- Transaction T2 starts in READ COMMITTED TIL
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

-- T2 selects the last committed version of the row
SELECT	*
FROM	Person.Contact
WHERE	ContactID = 1;

/*
** 5th scenario: read committed snapshot isolation
**               readers don't block writers can't
**               be shown because repeatable read
**				 isolation still takes shared locks
*/

/*
** 6th scenario: since read committed snapshot til
**               is database wide we may want to use
**               locks for certain queries
*/
-- Transaction T2 starts in READ COMMITTED TIL
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

-- T2 and tries to select the same row
SELECT	*
FROM	Person.Contact WITH(READCOMMITTEDLOCK)
WHERE	ContactID = 1;
GO

/*
** 7th scenario: read committed snapshot isolation til doesn't
**               guarantee complete isolation in a multi
**               statement transaction
*/
-- Transaction T1 starts in READ COMMITTED TIL
SET TRANSACTION ISOLATION LEVEL READ COMMITTED
BEGIN TRANSACTION

	-- T1 reads the last committed version of the row
	SELECT	*
	FROM	Person.Contact
	WHERE	ContactID = 1;

	-- switch to connection 1 and commit

	-- T1 reads again the last committed version of the row
	SELECT	*
	FROM	Person.Contact
	WHERE	ContactID = 1;

ROLLBACK TRANSACTION

/*
** 8th scenario: snapshot isolation til guarantees
**               complete isolation in a multi
**               statement transaction
*/
-- Transaction T1 starts in READ COMMITTED TIL
SET TRANSACTION ISOLATION LEVEL SNAPSHOT
BEGIN TRANSACTION

	-- T1 reads the last committed version of the row
	SELECT	*
	FROM	Person.Contact
	WHERE	ContactID = 1;

	-- switch to connection 1 and commit

	-- T1 reads again the last committed version of the row
	SELECT	*
	FROM	Person.Contact
	WHERE	ContactID = 1;

ROLLBACK TRANSACTION
GO

/*
** 9th scenario: snapshot isolation til conflict
**               detection
*/

-- Transaction T1 starts in READ COMMITTED TIL
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

-- T1 updates a row and commit immediately
UPDATE	Person.Contact
SET		Phone = '999-999-999'
WHERE	ContactID = 1;

-- switch to connection 1
GO
