/*
** This script is used to demonstrate the
** new transaction isolation levels in
** SQL Server 2005
**
** It must be run on connection 1
*/

-- change database context
USE AdventureWorks
GO

-- cleanup
ALTER DATABASE AdventureWorks
SET READ_COMMITTED_SNAPSHOT OFF
WITH ROLLBACK IMMEDIATE
GO

ALTER DATABASE AdventureWorks
SET ALLOW_SNAPSHOT_ISOLATION OFF
GO

UPDATE	Person.Contact
SET		Phone = '398-555-0132'
WHERE	ContactID = 1;
GO

/*
** 1st scenario: writer block readers
*/

-- Transaction T1 starts in READ COMMITTED TIL
SET TRANSACTION ISOLATION LEVEL READ COMMITTED
BEGIN TRANSACTION

	-- T1 updates a row and doesn't commit
	UPDATE	Person.Contact
	SET	Phone = '999-999-999'
	WHERE	ContactID = 1;

	-- switch to connection 2

ROLLBACK TRANSACTION
GO

/*
** 2nd scenario: reader block writer
*/

-- Transaction T1 starts in REPEATABLE READ TIL
SET TRANSACTION ISOLATION LEVEL REPEATABLE READ
BEGIN TRANSACTION

	-- T1 reads the row holding shared locks
	SELECT	*
	FROM	Person.Contact
	WHERE	ContactID = 1;

	-- switch to connection 2

ROLLBACK TRANSACTION

/*
** 3rd scenario: read uncommitted, a bad scenario!
*/
-- cleanup
UPDATE Person.Contact SET Phone = '398-555-0132' WHERE ContactID = 1;
GO
-- Transaction T1 starts in READ COMMITTED TIL
SET TRANSACTION ISOLATION LEVEL READ COMMITTED
BEGIN TRANSACTION

	-- T1 updates a row and doesn't commit
	UPDATE	Person.Contact
	SET	Phone = '999-999-999'
	WHERE	ContactID = 1;

	-- switch to connection 2

ROLLBACK TRANSACTION

/*
** Snapshot Isolation Scenarios
*/

ALTER DATABASE AdventureWorks
SET READ_COMMITTED_SNAPSHOT ON
WITH ROLLBACK IMMEDIATE
GO

ALTER DATABASE AdventureWorks
SET ALLOW_SNAPSHOT_ISOLATION ON
GO

/*
** 4th scenario: read committed snapshot isolation
**               writers don't block readers
*/


-- Transaction T1 starts in READ COMMITTED (snapshot) TIL
SET TRANSACTION ISOLATION LEVEL READ COMMITTED
BEGIN TRANSACTION

	-- T1 updates a row and doesn't commit
	UPDATE	Person.Contact
	SET	Phone = '999-999-999'
	WHERE	ContactID = 1;

	-- switch to connection 2

ROLLBACK TRANSACTION
GO

/*
** 5th scenario: read committed snapshot isolation
**               readers don't block writers can't
**               be shown because repeatable read
**				 isolation still takes shared locks
*/

/*
** 6th scenario: since read committed snapshot til
**               is database wide we may want to use
**               locks for certain queries
*/
-- Transaction T1 starts in READ COMMITTED TIL
SET TRANSACTION ISOLATION LEVEL READ COMMITTED
BEGIN TRANSACTION

	-- T1 updates a row and doesn't commit
	UPDATE	Person.Contact
	SET	Phone = '999-999-999'
	WHERE	ContactID = 1;

	-- switch to connection 2

ROLLBACK TRANSACTION
GO

/*
** 7th scenario: read committed snapshot isolation til doesn't
**               guarantee complete isolation in a multi
**               statement transaction
*/
-- Transaction T1 starts in READ COMMITTED TIL
SET TRANSACTION ISOLATION LEVEL READ COMMITTED
BEGIN TRANSACTION

	-- T1 updates a row and doesn't commit
	UPDATE	Person.Contact
	SET	Phone = '999-999-999'
	WHERE	ContactID = 1;

	-- switch to connection 2

COMMIT TRANSACTION
-- switch to connection 2 and read again
GO

/*
** 8th scenario: snapshot isolation til guarantees
**               complete isolation in a multi
**               statement transaction
*/

-- cleanup
UPDATE Person.Contact SET Phone = '398-555-0132' WHERE ContactID = 1;
GO

-- Transaction T1 starts in READ COMMITTED TIL
SET TRANSACTION ISOLATION LEVEL READ COMMITTED
BEGIN TRANSACTION

	-- T1 updates a row and doesn't commit
	UPDATE	Person.Contact
	SET	Phone = '999-999-999'
	WHERE	ContactID = 1;

	-- switch to connection 2

COMMIT TRANSACTION
-- switch to connection 2 and read again
GO

/*
** 9th scenario: snapshot isolation til conflict
**               detection
*/
-- cleanup
UPDATE Person.Contact SET Phone = '398-555-0132' WHERE ContactID = 1;
GO

-- Transaction T1 starts in SNAPSHOT TIL
SET TRANSACTION ISOLATION LEVEL SNAPSHOT
BEGIN TRANSACTION

	-- T1 selects the row
	SELECT	*
	FROM	Person.Contact
	WHERE	ContactID = 1;

	-- switch to connection 2

	-- T1 tries updating a row but fails
	UPDATE	Person.Contact
	SET	Phone = '999-999-999'
	WHERE	ContactID = 1;

ROLLBACK TRAN