------------------------------------------------------------------------
-- Copyright:   2019 Gianluca Hotz
-- License:     MIT License
--              Permission is hereby granted, free of charge, to any
--              person obtaining a copy of this software and associated
--              documentation files (the "Software"), to deal in the
--              Software without restriction, including without
--              limitation the rights to use, copy, modify, merge,
--              publish, distribute, sublicense, and/or sell copies of
--              the Software, and to permit persons to whom the
--              Software is furnished to do so, subject to the
--              following conditions:
--              
--              The above copyright notice and this permission notice
--              shall be included in all copies or substantial portions
--              of the Software.
--              
--              THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF
--              ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT
--              LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
--              FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO
--              EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE
--              FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN
--              AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
--              OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
--              OTHER DEALINGS IN THE SOFTWARE.
-- Synopsis:    This script is used to demonstrate application locks
-- 
--              This script will run as connection 1
-- Credits:     
------------------------------------------------------------------------

-- change database context
USE tempdb;
GO

-- Connection 1 acquires an application lock
DECLARE	@returnvalue	int;
EXEC	@returnvalue = sp_getapplock 'Insert order', 'Exclusive', 'Session', 120;
SELECT	CAST(@returnvalue AS varchar) AS ReturnValue;
GO
------------------------------------------------------------------------
-- return values
--    0 The lock was successfully granted synchronously.
--    1 The lock was granted successfully after waiting for other incompatible locks to be released.
--   -1 The lock request timed out.
--   -2 The lock request was canceled.
--   -3 The lock request was chosen as a deadlock victim.
-- -999 Indicates a parameter validation or other call error.
------------------------------------------------------------------------

-- Check outstanding lock mode
SELECT APPLOCK_MODE('Public', 'Insert order', 'Session');

-- Switch to Connection 2

-- Connection 1 releases the application lock
DECLARE	@returnvalue	int;
EXEC	@returnvalue = sp_releaseapplock 'Insert order', 'Session';
SELECT	CAST(@returnvalue AS varchar) AS ReturnValue;
GO

-- Switch to Connection 2
