------------------------------------------------------------------------
-- Copyright:   2018 Gianluca Hotz
-- License:     MIT License
--              Permission is hereby granted, free of charge, to any
--              person obtaining a copy of this software and associated
--              documentation files (the "Software"), to deal in the
--              Software without restriction, including without
--              limitation the rights to use, copy, modify, merge,
--              publish, distribute, sublicense, and/or sell copies of
--              the Software, and to permit persons to whom the
--              Software is furnished to do so, subject to the
--              following conditions:
--              
--              The above copyright notice and this permission notice
--              shall be included in all copies or substantial portions
--              of the Software.
--              
--              THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF
--              ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT
--              LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
--              FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO
--              EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE
--              FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN
--              AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
--              OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
--              OTHER DEALINGS IN THE SOFTWARE.
-- Synopsis:    This script is used to demonstrate the new transaction isolation
--              levels in SQL Server 2005
-- 
--              This script will run as connection 3 and it's used only to
--				show which kind of locks are held (where they apply, some demos
--				acquire locks just for a short term)
-- Credits:     
------------------------------------------------------------------------

-- change database context
USE AdventureWorksLT2012
GO

-- remember to cut&paste the correct spid
-- for connection 1 and 2 before running
EXEC	dbo.sp_lock 68
EXEC	dbo.sp_lock 59
GO

-- Undocumented %%lockres%%
SELECT	*
FROM	SalesLT.Customer WITH (NOLOCK, INDEX=1)
WHERE	%%lockres%% = '(8194443284a0)'
GO

-- DMV with more info
SELECT *
FROM	sys.dm_tran_locks
WHERE	request_session_id IN (68,69);
GO

-- Unocumented DBCC PAGE (DatabaseName, FileNumber, PageNumber, DumpStyle)
DBCC TRACEON (3604);
GO
DBCC PAGE ('AdventureWorksLT2012', 1, 562, 1);
GO
DBCC TRACEOFF (3604);
GO
           