------------------------------------------------------------------------
-- Copyright:   2019 Gianluca Hotz
-- License:     MIT License
--              Permission is hereby granted, free of charge, to any
--              person obtaining a copy of this software and associated
--              documentation files (the "Software"), to deal in the
--              Software without restriction, including without
--              limitation the rights to use, copy, modify, merge,
--              publish, distribute, sublicense, and/or sell copies of
--              the Software, and to permit persons to whom the
--              Software is furnished to do so, subject to the
--              following conditions:
--              
--              The above copyright notice and this permission notice
--              shall be included in all copies or substantial portions
--              of the Software.
--              
--              THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF
--              ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT
--              LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
--              FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO
--              EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE
--              FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN
--              AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
--              OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
--              OTHER DEALINGS IN THE SOFTWARE.
-- Synopsis:    This script is used to demonstrate application locks
-- 
--              This script will run as connection 3
-- Credits:     
------------------------------------------------------------------------

-- change database context
USE tempdb;
GO

-- remember to cut&paste the correct spid
-- for connection 1 and 2 before running
EXEC	dbo.sp_lock 67
EXEC	dbo.sp_lock 68
GO

-- check also locks with specific functions
SELECT APPLOCK_MODE('public', 'Insert order', 'Session');				-- not held by this session
SELECT APPLOCK_TEST('public', 'Insert order', 'Exclusive', 'Session');	-- 0 = not grantable
SELECT APPLOCK_TEST('public', 'Insert order', 'Shared', 'Session');		-- 0 = not grantable
GO