------------------------------------------------------------------------
-- Copyright:   2019 Gianluca Hotz
-- License:     MIT License
--              Permission is hereby granted, free of charge, to any
--              person obtaining a copy of this software and associated
--              documentation files (the "Software"), to deal in the
--              Software without restriction, including without
--              limitation the rights to use, copy, modify, merge,
--              publish, distribute, sublicense, and/or sell copies of
--              the Software, and to permit persons to whom the
--              Software is furnished to do so, subject to the
--              following conditions:
--              
--              The above copyright notice and this permission notice
--              shall be included in all copies or substantial portions
--              of the Software.
--              
--              THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF
--              ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT
--              LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
--              FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO
--              EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE
--              FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN
--              AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
--              OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
--              OTHER DEALINGS IN THE SOFTWARE.
-- Synopsis:    This script is used to demonstrate application locks
-- 
--              This script will run as connection 2
-- Credits:     
------------------------------------------------------------------------

-- change database context
USE tempdb;
GO

-- Connection 2 tries to acquire the same application lock
-- it will have to wait and eventually timeout (120ms)
DECLARE	@returnvalue	int;
EXEC	@returnvalue = sp_getapplock 'Insert order', 'Exclusive', 'Session', 120
SELECT	CAST(@returnvalue AS varchar) AS ReturnValue
-- return value -1 = The lock request timed out.
GO

-- Connection 2 tries again waiting much more
DECLARE	@returnvalue	int;
EXEC	@returnvalue = sp_getapplock 'Insert order', 'Exclusive', 'Session', 120000
SELECT	CAST(@returnvalue AS varchar) AS ReturnValue
GO

-- Switch to Connection 3 and check locks
-- Switch to Connection 1 to release lock

-- Connection 2 also releases the application lock
DECLARE	@returnvalue	int;
EXEC	@returnvalue = sp_releaseapplock 'Insert order', 'Session';
SELECT	CAST(@returnvalue AS varchar) AS ReturnValue;
GO