------------------------------------------------------------------------
-- Copyright:   2018 Gianluca Hotz
-- License:     MIT License
--              Permission is hereby granted, free of charge, to any
--              person obtaining a copy of this software and associated
--              documentation files (the "Software"), to deal in the
--              Software without restriction, including without
--              limitation the rights to use, copy, modify, merge,
--              publish, distribute, sublicense, and/or sell copies of
--              the Software, and to permit persons to whom the
--              Software is furnished to do so, subject to the
--              following conditions:
--              
--              The above copyright notice and this permission notice
--              shall be included in all copies or substantial portions
--              of the Software.
--              
--              THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF
--              ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT
--              LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
--              FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO
--              EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE
--              FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN
--              AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
--              OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
--              OTHER DEALINGS IN THE SOFTWARE.
-- Synopsis:    This script is used to demonstrate the new transaction isolation
--              levels in SQL Server 2005
-- 
--              This script will run as connection 2
-- Credits:     
------------------------------------------------------------------------

-- change database context
USE AdventureWorksLT2012
GO

------------------------------------------------------------------------
-- 1st scenario: writer block readers
------------------------------------------------------------------------

-- Transaction T2 starts in READ COMMITTED TIL
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

-- T2 and tries to select the same row
SELECT	*
FROM	SalesLT.Customer
WHERE	CustomerID = 1;

-- switch to connection 3 to see T2 waiting
-- for a shared lock


------------------------------------------------------------------------
-- 2nd scenario: reader block writer
------------------------------------------------------------------------

-- Transaction T2 starts in READ COMMITTED TIL
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

-- T2 selects the same row (shared locks compatible)
SELECT	*
FROM	SalesLT.Customer
WHERE	CustomerID = 1;

-- T2 tries to update the row
UPDATE	SalesLT.Customer
SET		Phone = '999-999-999'
WHERE	CustomerID = 1;

-- switch to connection 3 to see T2 waiting
-- for an exclusive lock

------------------------------------------------------------------------
-- 3rd scenario: read uncommittd (NOLOCK), a bad scenario!
------------------------------------------------------------------------

-- Transaction T2 starts in READ UNCOMMITTED TIL
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

-- T2 selects the same row, excluse lock not honored,
-- does a dirty read of modified data
SELECT	*
FROM	SalesLT.Customer
WHERE	CustomerID = 1;

------------------------------------------------------------------------
-- 4th scenario: read committed snapshot isolation
--                  writers don't block readers
------------------------------------------------------------------------

-- Transaction T2 starts in READ COMMITTED TIL
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

-- T2 selects the last committed version of the row
SELECT	*
FROM	SalesLT.Customer
WHERE	CustomerID = 1;

------------------------------------------------------------------------
-- 5th scenario: read committed snapshot isolation
--               readers don't block writers can't
--               be shown because repeatable read
--				 isolation would still takes shared locks
------------------------------------------------------------------------

------------------------------------------------------------------------
-- 6th scenario: since read committed snapshot til
--               is database wide we may want to use
--               locks for certain queries
------------------------------------------------------------------------

-- Transaction T2 starts in READ COMMITTED TIL
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

-- T2 and tries to select the same row
SELECT	*
FROM	SalesLT.Customer WITH(READCOMMITTEDLOCK)
WHERE	CustomerID = 1;

GO

------------------------------------------------------------------------
-- 7th scenario: read committed snapshot isolation til doesn't
--               guarantee complete isolation in a multi
--               statement transaction
------------------------------------------------------------------------

-- Transaction T1 starts in READ COMMITTED TIL
SET TRANSACTION ISOLATION LEVEL READ COMMITTED
BEGIN TRANSACTION

	-- T1 reads the last committed version of the row
	SELECT	*
	FROM	SalesLT.Customer
	WHERE	CustomerID = 1;

	-- switch to connection 1 and commit

	-- T1 reads again the last committed version of the row
	SELECT	*
	FROM	SalesLT.Customer
	WHERE	CustomerID = 1;

ROLLBACK TRANSACTION

------------------------------------------------------------------------
-- 8th scenario: snapshot isolation til guarantees
--               complete isolation in a multi
--               statement transaction
------------------------------------------------------------------------

-- Transaction T1 starts in READ COMMITTED TIL
SET TRANSACTION ISOLATION LEVEL SNAPSHOT
BEGIN TRANSACTION

	-- T1 reads the last committed version of the row
	SELECT	*
	FROM	SalesLT.Customer
	WHERE	CustomerID = 1;

	-- switch to connection 1 and commit

	-- T1 reads again the last committed version of the row
	SELECT	*
	FROM	SalesLT.Customer
	WHERE	CustomerID = 1;

ROLLBACK TRANSACTION
GO

------------------------------------------------------------------------
-- 9th scenario: snapshot isolation til write/read conflict detection
------------------------------------------------------------------------

-- Transaction T1 starts in READ COMMITTED TIL
SET TRANSACTION ISOLATION LEVEL READ COMMITTED

-- T1 updates a row and commit immediately
UPDATE	SalesLT.Customer
SET		Phone = '999-999-999'
WHERE	CustomerID = 1;

-- switch to connection 1
GO

------------------------------------------------------------------------
-- 10th scenario: snapshot isolation til write/write conflict detection
------------------------------------------------------------------------
-- Transaction T2 starts also in SNAPSHOT TIL
SET TRANSACTION ISOLATION LEVEL SNAPSHOT
BEGIN TRANSACTION

	-- T2 selects the row
	SELECT	*
	FROM	SalesLT.Customer
	WHERE	CustomerID = 1;

	-- switch to connection 1

	-- T2 tries also updating the row but waits
	UPDATE	SalesLT.Customer
	SET		Phone = '999-999-999'
	WHERE	CustomerID = 1;

	-- switch to connection 1
GO
-- transaction rolled back automatically
SELECT @@TRANCOUNT

------------------------------------------------------------------------
-- 11th scenario: snapshot isolation til write/write conflict detection
------------------------------------------------------------------------
-- Transaction T2 starts also in SNAPSHOT TIL
SET TRANSACTION ISOLATION LEVEL SNAPSHOT
BEGIN TRANSACTION

	-- T2 selects the row
	SELECT	*
	FROM	SalesLT.Customer
	WHERE	CustomerID = 1;

	-- switch to connection 1

	-- T2 tries also updating the row but waits
	UPDATE	SalesLT.Customer
	SET		Phone = '888-888-888'
	WHERE	CustomerID = 1;

	-- switch to connection 1

COMMIT TRANSACTION
GO