------------------------------------------------------------------------
-- Copyright:   2018 Gianluca Hotz
-- License:     MIT License
--              Permission is hereby granted, free of charge, to any
--              person obtaining a copy of this software and associated
--              documentation files (the "Software"), to deal in the
--              Software without restriction, including without
--              limitation the rights to use, copy, modify, merge,
--              publish, distribute, sublicense, and/or sell copies of
--              the Software, and to permit persons to whom the
--              Software is furnished to do so, subject to the
--              following conditions:
--              
--              The above copyright notice and this permission notice
--              shall be included in all copies or substantial portions
--              of the Software.
--              
--              THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF
--              ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT
--              LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
--              FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO
--              EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE
--              FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN
--              AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
--              OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
--              OTHER DEALINGS IN THE SOFTWARE.
-- Synopsis:    This script is used to demonstrate the new transaction isolation
--              levels in SQL Server 2005
-- 
--              This script will run as connection 1
-- Credits:     
------------------------------------------------------------------------

-- change database context
USE AdventureWorksLT2012
GO

------------------------------------------------------------------------
-- Cleanup
------------------------------------------------------------------------
ALTER DATABASE AdventureWorksLT2012
SET READ_COMMITTED_SNAPSHOT OFF
WITH ROLLBACK IMMEDIATE
GO

ALTER DATABASE AdventureWorksLT2012
SET ALLOW_SNAPSHOT_ISOLATION OFF
GO

UPDATE	SalesLT.Customer
SET		Phone = '245-555-0173'
WHERE	CustomerID = 1;
GO

------------------------------------------------------------------------
-- 1st scenario: writer block readers
------------------------------------------------------------------------

-- Transaction T1 starts in READ COMMITTED TIL
SET TRANSACTION ISOLATION LEVEL READ COMMITTED
BEGIN TRANSACTION

	-- T1 updates a row and doesn't commit
	UPDATE	SalesLT.Customer
	SET		Phone = '999-999-999'
	WHERE	CustomerID = 1;

	-- switch to connection 2

ROLLBACK TRANSACTION
GO

------------------------------------------------------------------------
-- 2nd scenario: reader block writer
------------------------------------------------------------------------

-- Transaction T1 starts in REPEATABLE READ TIL
SET TRANSACTION ISOLATION LEVEL REPEATABLE READ
BEGIN TRANSACTION

	-- T1 reads the row holding shared locks
	SELECT	*
	FROM	SalesLT.Customer
	WHERE	CustomerID = 1;

	-- switch to connection 2

ROLLBACK TRANSACTION

------------------------------------------------------------------------
-- 3rd scenario: read uncommitted, a bad scenario!
------------------------------------------------------------------------
-- reset value first
UPDATE	SalesLT.Customer
SET		Phone = '245-555-0173'
WHERE	CustomerID = 1;
GO

-- Transaction T1 starts in READ COMMITTED TIL
SET TRANSACTION ISOLATION LEVEL READ COMMITTED
BEGIN TRANSACTION

	-- T1 updates a row and doesn't commit
	UPDATE	SalesLT.Customer
	SET		Phone = '999-999-999'
	WHERE	CustomerID = 1;

	-- switch to connection 2

ROLLBACK TRANSACTION

------------------------------------------------------------------------
-- Snapshot Isolation Scenarios
------------------------------------------------------------------------

ALTER DATABASE AdventureWorksLT2012
SET READ_COMMITTED_SNAPSHOT ON
WITH ROLLBACK IMMEDIATE
GO

ALTER DATABASE AdventureWorksLT2012
SET ALLOW_SNAPSHOT_ISOLATION ON
GO

------------------------------------------------------------------------
-- 4th scenario: read committed snapshot isolation
--               writers don't block readers
------------------------------------------------------------------------
-- reset value first
UPDATE	SalesLT.Customer
SET		Phone = '245-555-0173'
WHERE	CustomerID = 1;
GO

-- Transaction T1 starts in READ COMMITTED (snapshot) TIL
SET TRANSACTION ISOLATION LEVEL READ COMMITTED
BEGIN TRANSACTION

	-- T1 updates a row and doesn't commit
	UPDATE	SalesLT.Customer
	SET		Phone = '999-999-999'
	WHERE	CustomerID = 1;

	-- switch to connection 2

ROLLBACK TRANSACTION
GO

------------------------------------------------------------------------
-- 5th scenario: read committed snapshot isolation
--               readers don't block writers can't
--               be shown because repeatable read
--				 isolation would still takes shared locks
------------------------------------------------------------------------

------------------------------------------------------------------------
-- 6th scenario: since read committed snapshot til
--               is database wide we may want to use
--               locks for certain queries
------------------------------------------------------------------------

-- Transaction T1 starts in READ COMMITTED TIL
SET TRANSACTION ISOLATION LEVEL READ COMMITTED
BEGIN TRANSACTION

	-- T1 updates a row and doesn't commit
	UPDATE	SalesLT.Customer
	SET		Phone = '999-999-999'
	WHERE	CustomerID = 1;

	-- switch to connection 2

ROLLBACK TRANSACTION
GO

------------------------------------------------------------------------
-- 7th scenario: read committed snapshot isolation til doesn't
--               guarantee complete isolation in a multi
--               statement transaction
------------------------------------------------------------------------

-- Transaction T1 starts in READ COMMITTED TIL
SET TRANSACTION ISOLATION LEVEL READ COMMITTED
BEGIN TRANSACTION

	-- T1 updates a row and doesn't commit
	UPDATE	SalesLT.Customer
	SET		Phone = '999-999-999'
	WHERE	CustomerID = 1;

	-- switch to connection 2

COMMIT TRANSACTION
-- switch to connection 2 and read again
GO

------------------------------------------------------------------------
-- 8th scenario: snapshot isolation til guarantees
--               complete isolation in a multi
--               statement transaction
------------------------------------------------------------------------

-- cleanup
UPDATE	SalesLT.Customer
SET		Phone = '245-555-0173'
WHERE	CustomerID = 1;
GO

-- Transaction T1 starts in READ COMMITTED TIL
SET TRANSACTION ISOLATION LEVEL READ COMMITTED
BEGIN TRANSACTION

	-- T1 updates a row and doesn't commit
	UPDATE	SalesLT.Customer
	SET		Phone = '999-999-999'
	WHERE	CustomerID = 1;

	-- switch to connection 2

COMMIT TRANSACTION
-- switch to connection 2 and read again
GO

------------------------------------------------------------------------
-- 9th scenario: snapshot isolation til write/read conflict detection
------------------------------------------------------------------------

-- cleanup
UPDATE	SalesLT.Customer
SET		Phone = '245-555-0173'
WHERE	CustomerID = 1;
GO

-- Transaction T1 starts in SNAPSHOT TIL
SET TRANSACTION ISOLATION LEVEL SNAPSHOT
BEGIN TRANSACTION

	-- T1 selects the row
	SELECT	*
	FROM	SalesLT.Customer
	WHERE	CustomerID = 1;

	-- switch to connection 2

	-- T1 tries updating a row but fails
	UPDATE	SalesLT.Customer
	SET		Phone = '999-999-999'
	WHERE	CustomerID = 1;

ROLLBACK TRAN
GO

------------------------------------------------------------------------
-- 10th scenario: snapshot isolation til write/write conflict detection
------------------------------------------------------------------------
-- cleanup
UPDATE	SalesLT.Customer
SET		Phone = '245-555-0173'
WHERE	CustomerID = 1;
GO

-- Transaction T1 starts in SNAPSHOT TIL
SET TRANSACTION ISOLATION LEVEL SNAPSHOT
BEGIN TRANSACTION

	-- T1 selects the row
	SELECT	*
	FROM	SalesLT.Customer
	WHERE	CustomerID = 1;

	-- switch to connection 2

	-- T1 tries updating a row and succedes
	UPDATE	SalesLT.Customer
	SET		Phone = '999-999-999'
	WHERE	CustomerID = 1;

	-- switch to connection 2

COMMIT TRANSACTION
-- switch to connection 2 and look at transaction failed
GO

------------------------------------------------------------------------
-- 11th scenario: snapshot isolation til write/write conflict detection
------------------------------------------------------------------------
-- cleanup
UPDATE	SalesLT.Customer
SET		Phone = '245-555-0173'
WHERE	CustomerID = 1;
GO

-- Transaction T1 starts in SNAPSHOT TIL
SET TRANSACTION ISOLATION LEVEL SNAPSHOT
BEGIN TRANSACTION

	-- T1 selects the row
	SELECT	*
	FROM	SalesLT.Customer
	WHERE	CustomerID = 1;

	-- switch to connection 2

	-- T1 tries updating a row and succedes
	UPDATE	SalesLT.Customer
	SET		Phone = '999-999-999'
	WHERE	CustomerID = 1;

	-- switch to connection 2

ROLLBACK TRANSACTION
-- switch to connection 2 and look at transaction still open
-- and commitable
GO