------------------------------------------------------------------------
-- Copyright:   2018 Gianluca Hotz
-- License:     MIT License
--              Permission is hereby granted, free of charge, to any
--              person obtaining a copy of this software and associated
--              documentation files (the "Software"), to deal in the
--              Software without restriction, including without
--              limitation the rights to use, copy, modify, merge,
--              publish, distribute, sublicense, and/or sell copies of
--              the Software, and to permit persons to whom the
--              Software is furnished to do so, subject to the
--              following conditions:
--              The above copyright notice and this permission notice
--              shall be included in all copies or substantial portions
--              of the Software.
--              THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF
--              ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT
--              LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
--              FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO
--              EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE
--              FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN
--              AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
--              OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
--              OTHER DEALINGS IN THE SOFTWARE.
-- Credits:     
------------------------------------------------------------------------
-- Questo script dimostra come creare un login e come vengono fatte
-- rispettare le politiche legate alle password.
--
-- Verificare che il sistema operativo supporti le API necessarie per
-- fare rispettare le politiche (2003) e che tali politiche
-- (complessita' della password, scadenza e numero di tentativi non
-- corretti) siano impostate correttamente (a livello di politiche
-- locali o di dominio)
------------------------------------------------------------------------

-- pulizia
IF EXISTS(SELECT * FROM sys.sql_logins WHERE name = 'Sophie')
	DROP LOGIN Sophie
IF EXISTS(SELECT * FROM sys.sql_logins WHERE name = 'Alison')
	DROP LOGIN Alison
GO

------------------------------------------------------------------------
-- Create Logins
------------------------------------------------------------------------
-- creiamo una login chiedendo di fare rispettare le politiche
-- specificando una password non complessa, il sistema genera
-- un errore
CREATE LOGIN Alison
WITH	PASSWORD = 'cccc'
,		DEFAULT_DATABASE = master
,		CHECK_EXPIRATION = ON
,		CHECK_POLICY = ON
GO


-- se invece proviamo con una password complessa, il comando
-- va a buon fine
CREATE LOGIN Alison
WITH	PASSWORD = 'Passw0rd'
,		DEFAULT_DATABASE = master
,		CHECK_EXPIRATION = ON
,		CHECK_POLICY = ON
GO

-- creiamo una login specificando che l'utente dovra'
-- modificare la password al prossimo collegamento
CREATE LOGIN Sophie
WITH	PASSWORD = 'Passw0rd' MUST_CHANGE
,		DEFAULT_DATABASE = master
,		CHECK_EXPIRATION = ON
,		CHECK_POLICY = ON
GO

-- provare a connettersi con l'utente Sophie e cambiare la password

-- provare a connettersi con l'utente Sophie ed a sbagliare la
-- password per 5 volte di seguito (l'account viene bloccato)

SELECT	[name] AS login_name
	,	is_disabled
	,	LOGINPROPERTY([name], N'isLocked') as is_locked
	,	LOGINPROPERTY([name], N'LockoutTime') as login_LockoutTime
	,	LOGINPROPERTY([name], N'BadPasswordCount') as login_BadPasswordCount
	,	LOGINPROPERTY([name], N'BadPasswordTime') as login_BadPasswordTime
FROM	sys.sql_logins
WHERE	LOGINPROPERTY(name, N'isLocked') = 1  
GO

-- per sbloccare l'utente, reimpostando la password, utilizzare
ALTER LOGIN Sophie
WITH PASSWORD = 'Passw0rd01' UNLOCK
GO

------------------------------------------------------------------------
-- Trasferimento login manuale
------------------------------------------------------------------------
-- la creazione di una login con autenticazione nativa di SQL Server
-- permette anche di specificare il valore di hash della password,
-- questo puo' essere utile per trasferire gli utenti senza reimpostare
-- la loro password
------------------------------------------------------------------------

-- visualizzare gli utenti con autenticazione nativa
SELECT * FROM sys.sql_logins;
GO

-- copiare (CTRL-C) il valore di hash del login dell'utente Alison
SELECT password_hash FROM sys.sql_logins WHERE name = 'Alison'
GO

-- eliminare l'utente
DROP LOGIN Alison
GO

-- creare nuovamente l'utente sostituendo il valore di hash con quello
-- copiato precedentemente (CTRL-V)
CREATE LOGIN Alison
WITH	PASSWORD = 0x0200CD4865B115353C3791746283AEF14DC2459266ACDE75FB53866608031BD0C58D667B9D4733F73D00DD901D7536852282D5776C713C78DE42E8554414AE7B27B562E4C653 HASHED
,		DEFAULT_DATABASE = master
,		CHECK_EXPIRATION = ON
,		CHECK_POLICY = ON
GO

-- provare a connettersi

------------------------------------------------------------------------
-- Problema collegamento login/user
------------------------------------------------------------------------

------------------------------------------------------------------------
-- Trasferimento login massivo
-- https://learn.microsoft.com/en-us/troubleshoot/sql/database-engine/security/transfer-logins-passwords-between-instances
------------------------------------------------------------------------
EXEC sp_help_revlogin;
GO
