------------------------------------------------------------------------
-- Copyright:   2018 Gianluca Hotz
-- License:     MIT License
--              Permission is hereby granted, free of charge, to any
--              person obtaining a copy of this software and associated
--              documentation files (the "Software"), to deal in the
--              Software without restriction, including without
--              limitation the rights to use, copy, modify, merge,
--              publish, distribute, sublicense, and/or sell copies of
--              the Software, and to permit persons to whom the
--              Software is furnished to do so, subject to the
--              following conditions:
--              The above copyright notice and this permission notice
--              shall be included in all copies or substantial portions
--              of the Software.
--              THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF
--              ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT
--              LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
--              FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO
--              EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE
--              FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN
--              AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
--              OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
--              OTHER DEALINGS IN THE SOFTWARE.
-- Credits:     
------------------------------------------------------------------------
-- pulizia
USE AdventureWorks2017;
IF EXISTS(SELECT * FROM sys.database_principals WHERE name = 'Sophie')
	DROP USER Sophie
USE master
IF EXISTS(SELECT * FROM sys.sql_logins WHERE name = 'Sophie')
	DROP LOGIN Sophie
GO

------------------------------------------------------------------------
-- Trasferimento login manuale
------------------------------------------------------------------------
-- la creazione di una login con autenticazione nativa di SQL Server
-- permette anche di specificare il valore di hash della password,
-- questo puo' essere utile per trasferire gli utenti senza reimpostare
-- la loro password
------------------------------------------------------------------------

-- Creiamo un login
CREATE LOGIN Sophie
WITH	PASSWORD = 'Passw0rd';
GO

-- visualizzare gli utenti con autenticazione nativa
SELECT * FROM sys.sql_logins;
GO

-- copiare (CTRL-C) il valore di hash del login dell'utente Alison
SELECT password_hash FROM sys.sql_logins WHERE [name] = 'Sophie';
GO

-- eliminare l'utente
DROP LOGIN Sophie;
GO

-- creare nuovamente l'utente sostituendo il valore di hash con quello
-- copiato precedentemente (CTRL-V)
CREATE LOGIN Sophie
WITH	PASSWORD = 0x0200E3B001FDFDD106DE466BE0797FCB26D47A632FDCED2C60EB192423A08A5422ECF4E24EEB4C7907D3523346ABAFEE13798B0E08958A7E775C5174F86165BF1DFC2B3C57E6 HASHED
GO

-- provare a connettersi

------------------------------------------------------------------------
-- Problema collegamento login/user
------------------------------------------------------------------------
-- diamo accesso al database creando un utente per il login
USE AdventureWorks2017;
CREATE USER Sophie FOR LOGIN Sophie;
GO

-- i due principal (login/utente) sono collegati tramite un SID che per
-- un login con autenticazione integrata Windows e' rilasciato
-- centralmente da AD, mentre per un login nativo SQL Server e' generato
-- in modo casuale da SQL Server
SELECT [sid], * FROM sys.database_principals WHERE name = 'Sophie';
SELECT [sid], * FROM sys.sql_logins WHERE name = 'Sophie';
GO

-- eliminiamo e ricreiamo il login (es. backup/restore cross ambienti)
DROP LOGIN Sophie;
CREATE LOGIN Sophie WITH PASSWORD = 'Passw0rd';
GO

-- is due SID non sono più uguali
SELECT [sid], * FROM sys.database_principals WHERE name = 'Sophie';
SELECT [sid], * FROM sys.sql_logins WHERE name = 'Sophie';
GO

-- se proviamo a collegarci al database, risulta inaccessibile
-- anche la finestra di configurazione di SSMS da errore

------------------------------------------------------------------------
-- Soluzione stored procedure di sistema
------------------------------------------------------------------------
EXEC sp_change_users_login 'Update_One', 'Sophie', 'Sophie';
GO

-- is due SID sono tornati uguali
SELECT [sid], * FROM sys.database_principals WHERE name = 'Sophie';
SELECT [sid], * FROM sys.sql_logins WHERE name = 'Sophie';
GO

-- se proviamo a collegarci al database, ora risulta accessibile

------------------------------------------------------------------------
-- Soluzione stored procedure di sistema
------------------------------------------------------------------------
ALTER USER Sophie WITH LOGIN = Sophie;
GO

-- is due SID sono tornati uguali
SELECT [sid], * FROM sys.database_principals WHERE name = 'Sophie';
SELECT [sid], * FROM sys.sql_logins WHERE name = 'Sophie';
GO

-- se proviamo a collegarci al database, ora risulta accessibile

-----------------------------------------------------------------------
-- Soluzione creazione con stesso SID
------------------------------------------------------------------------
-- CTRL-C SID utente
SELECT [sid], * FROM sys.database_principals WHERE name = 'Sophie';
GO
-- Ricreiamo login CTRl-V SID
DROP LOGIN Sophie;
CREATE LOGIN Sophie
WITH
	PASSWORD = 'Passw0rd'
,	SID = 0xB2EEFE0B16CE5C4FAD5B753AD0DB6DB6;
GO

-- is due SID sono tornati uguali
SELECT [sid], * FROM sys.database_principals WHERE name = 'Sophie';
SELECT [sid], * FROM sys.sql_logins WHERE name = 'Sophie';
GO

-- se proviamo a collegarci al database, ora risulta accessibile

------------------------------------------------------------------------
-- Trasferimento login massivo genera sia HASH che SID
-- https://learn.microsoft.com/en-us/troubleshoot/sql/database-engine/security/transfer-logins-passwords-between-instances
------------------------------------------------------------------------
EXEC sp_help_revlogin;
GO
