------------------------------------------------------------------------
-- Copyright:   2018 Gianluca Hotz
-- License:     MIT License
--              Permission is hereby granted, free of charge, to any
--              person obtaining a copy of this software and associated
--              documentation files (the "Software"), to deal in the
--              Software without restriction, including without
--              limitation the rights to use, copy, modify, merge,
--              publish, distribute, sublicense, and/or sell copies of
--              the Software, and to permit persons to whom the
--              Software is furnished to do so, subject to the
--              following conditions:
--              The above copyright notice and this permission notice
--              shall be included in all copies or substantial portions
--              of the Software.
--              THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF
--              ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT
--              LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
--              FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO
--              EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE
--              FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN
--              AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
--              OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
--              OTHER DEALINGS IN THE SOFTWARE.
-- Credits:     
-- Note:		This script is connection 1
------------------------------------------------------------------------
-- Questo script dimostra come assegnare dei permessi.
-- La dimostrazione e' suddivisa in due script, il primo serve per
-- creare l'utente ed assegnare i permessi, al termine di queste
-- attivita' si puo' aprire il secondo script autenticandosi con
-- l'utente creato e provare l'accesso in base ai permessi assegnati.
------------------------------------------------------------------------

-- pulizia
USE AdventureWorks2017;
IF EXISTS(SELECT * FROM sys.database_principals WHERE name = 'Sophie')
	DROP USER Sophie
USE master
IF EXISTS(SELECT * FROM sys.sql_logins WHERE name = 'Sophie')
	DROP LOGIN Sophie
GO

-- creiamo una login, di default questo utente ha il permesso di
-- connettersi all'istanza tramite gli endpoint predefiniti
CREATE LOGIN Sophie
WITH	PASSWORD = 'Passw0rd'
GO

-- aprire il secondo script connettendosi con Sophie

-- diamo accesso al database AdventureWorks2017 a Sophie
-- creando un utente in un dataabse, di default viene
-- assegnato anche il permesso di CONNECT al database
USE AdventureWorks2017;
CREATE USER Sophie FOR LOGIN Sophie;
GO

-- tornare al secondo script e provare ad accedere

-- assegnare i permessi per accedere ad alcune
-- colonne di una tabella

GRANT SELECT
ON Person.Person (
		FirstName
,		MiddleName
,		LastName
,		EmailPromotion
)
TO Sophie
GO

-- tornare al secondo script e provare ad accedere

-- assegnare i permessi per poter eseguire tutte le
-- procedure e le funzioni del database
GRANT EXEC TO Sophie
GO

-- tornare al secondo script e provare ad accedere

-- sono disponibili svariati permessi che possono
-- essere applicati a svariati securables e che
-- sono ereditati automaticamente da altri permessi
-- per visualizzare l'insieme dei permessi, eseguire
-- il seguente comando
SELECT * FROM sys.fn_builtin_permissions(default)
GO
