------------------------------------------------------------------------
-- Copyright:   2018 Gianluca Hotz
-- License:     MIT License
--              Permission is hereby granted, free of charge, to any
--              person obtaining a copy of this software and associated
--              documentation files (the "Software"), to deal in the
--              Software without restriction, including without
--              limitation the rights to use, copy, modify, merge,
--              publish, distribute, sublicense, and/or sell copies of
--              the Software, and to permit persons to whom the
--              Software is furnished to do so, subject to the
--              following conditions:
--              The above copyright notice and this permission notice
--              shall be included in all copies or substantial portions
--              of the Software.
--              THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF
--              ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT
--              LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
--              FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO
--              EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE
--              FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN
--              AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
--              OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
--              OTHER DEALINGS IN THE SOFTWARE.
-- Credits:     
-- Note:		This script is connection 2
------------------------------------------------------------------------

-- Inizialmente l'utente non ha accesso a nessun database, se ad esempio
-- cerchiamo di utilizzare AdventureWorks2017 non possiamo perche'
-- non abbiamo il permesso
USE AdventureWorks2017;
GO

-- da notare che l'utente, di default, puo' comunque vedere
-- l'elenco dei database in carico all'istanza, possiamo
-- impedirlo con DENY VIEW ANY DEFINITION TO Sophie
SELECT	*
FROM	sys.databases;
GO

-- tornare alla prima connessione per dare accesso
-- al database AdventureWorks2017 a Sophie

-- a questo punto Sophie e' in grado di accedere al
-- database
USE AdventureWorks2017;
GO

-- l'utente non e' pero' in grado di selezionare da
-- nessuna tabella perche' non ha permessi specifici
-- ne appartiene ad uno o piu' ruoli con permessi
-- specifici (appartiene almeno a public)
SELECT	*
FROM	Person.Person;
GO

-- tornare alla prima connessione e dare accesso
-- ad alcune colonne di una tabella del database

-- provare ora ad accedere ad alcune colonne
SELECT	FirstName
,		MiddleName
,		LastName
,		EmailPromotion
FROM	Person.Person
WHERE	EmailPromotion = 2;
GO

-- cercando di accedere ad altre colonne per le quali
-- non sono stati assegnati permessi specifici il comando
-- ritorna un errore
SELECT	FirstName
,		MiddleName
,		Demographics
FROM	Person.Person
WHERE	EmailPromotion = 2
GO

-- verificare che il catalogo rende disponibili solo
-- gli oggetti per i quali l'utente ha dei permessi
SELECT	*
FROM	INFORMATION_SCHEMA.TABLES;

SELECT	*
FROM	sys.objects
WHERE	type_desc = 'USER_TABLE';

SELECT	*
FROM	INFORMATION_SCHEMA.ROUTINES;
GO

-- tornare alla prima connessione ed assegnare
-- altri permessi

-- verificare che e' possibile vedere altri oggetti
SELECT	*
FROM	INFORMATION_SCHEMA.ROUTINES;
GO

-- verificare i permessi associati all'utente connesso
-- per il server
SELECT * FROM sys.fn_my_permissions(NULL, 'SERVER');
GO

-- verificare i permessi associati all'utente connesso
-- per il database
SELECT * FROM sys.fn_my_permissions(NULL, 'DATABASE');
GO

-- verificare i permessi associati all'utente connesso
-- per la tabella
SELECT * FROM sys.fn_my_permissions('Person.Person', 'OBJECT');
GO

-- tornare al primo script e terminare
