------------------------------------------------------------------------
-- Copyright:   2018 Gianluca Hotz
-- License:     MIT License
--              Permission is hereby granted, free of charge, to any
--              person obtaining a copy of this software and associated
--              documentation files (the "Software"), to deal in the
--              Software without restriction, including without
--              limitation the rights to use, copy, modify, merge,
--              publish, distribute, sublicense, and/or sell copies of
--              the Software, and to permit persons to whom the
--              Software is furnished to do so, subject to the
--              following conditions:
--              The above copyright notice and this permission notice
--              shall be included in all copies or substantial portions
--              of the Software.
--              THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF
--              ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT
--              LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
--              FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO
--              EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE
--              FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN
--              AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
--              OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
--              OTHER DEALINGS IN THE SOFTWARE.
-- Credits:     
------------------------------------------------------------------------
-- Questo script dimostra le nuove funzionalita' legate al contesto di
-- esecuzione in SQL Server 2005+
--
-- Dato che il concetto di ownership chain non appartiene al concetto
-- di schema, ne utilizziamo uno specifico che non ha il nome di un
-- utente o di dbo, assicurarsi di avere ben chiara la separazione tra
-- utente e schema.
------------------------------------------------------------------------
USE master
GO

-- creiamo tre nuovi utenti
IF EXISTS(SELECT * FROM sys.sql_logins WHERE name = 'User1')
	DROP LOGIN User1
IF EXISTS(SELECT * FROM sys.sql_logins WHERE name = 'User2')
	DROP LOGIN User2
IF EXISTS(SELECT * FROM sys.sql_logins WHERE name = 'User3')
	DROP LOGIN User3
GO
CREATE LOGIN User1 WITH PASSWORD = 'Passw0rd'
CREATE LOGIN User2 WITH PASSWORD = 'Passw0rd'
CREATE LOGIN User3 WITH PASSWORD = 'Passw0rd'
GO

-- creiamo un database per effettuare le prove
IF EXISTS(SELECT * FROM sys.databases WHERE name = 'SecurityTest')
BEGIN	
	ALTER DATABASE SecurityTest SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
	DROP DATABASE SecurityTest;
END
GO
CREATE DATABASE SecurityTest
GO

-- creiamo gli utenti nel nuovo database
USE SecurityTest
IF EXISTS(SELECT * FROM sys.database_principals WHERE name = 'User1')
	DROP USER User1
IF EXISTS(SELECT * FROM sys.database_principals WHERE name = 'User2')
	DROP USER User2
IF EXISTS(SELECT * FROM sys.database_principals WHERE name = 'User3')
	DROP USER User3
GO
CREATE USER User1 FOR LOGIN User1
CREATE USER User2 FOR LOGIN User2
CREATE USER User3 FOR LOGIN User3
GO

-- creriamo un nuovo schema (di default il proprietario e' dbo)
CREATE SCHEMA CommonSchema
GO

-- creiamo una tabella nello schema
CREATE TABLE Commonschema.Table1 (field1 int PRIMARY KEY)
GO
INSERT Commonschema.Table1 VALUES(1)
GO

-- creiamo ora una procedura per selezionare dalla tabella
CREATE PROCEDURE CommonSchema.Proc1
WITH EXECUTE AS CALLER
AS
SELECT *, USER_NAME() AS UserContext FROM CommonSchema.Table1
GO

-- assegniamo la proprieta' della tabella a User1
ALTER AUTHORIZATION ON CommonSchema.Table1 TO User1
GO

-- diamo il permesso di selezionare dalla tabella a User2
GRANT SELECT ON CommonSchema.Table1 TO User2
GO

-- assegniamo la proprieta' della procedura a User2
ALTER AUTHORIZATION ON CommonSchema.Proc1 TO User2
GO

-- assumiamo il contesto di User2 e proviamo ad
-- eseguire la procedura, User2 puo' selezionare
-- dalla tabella perche' ha il permesso specifico
-- per farlo (assegnato precedentemente) e possiamo
-- verificare che effettivamente siamo nel suo contesto
EXECUTE AS USER = 'User2'

EXEC	CommonSchema.Proc1

REVERT
GO

-- assegniamo ora il permesso di eseguire la procedura
-- all'utente User3
GRANT EXEC ON CommonSchema.Proc1 TO User3
GO

-- assumiamo il contesto di User3 e proviamo ad
-- eseguire la procedura, User3 non puo' selezionare
-- perche' c'e' un'interruzione nella catena
EXECUTE AS USER = 'User3'

EXEC	CommonSchema.Proc1

REVERT
GO

-- se assegniamo la proprieta' della procedura
-- a User1 e assegniamo nuovamente il permesso di
-- esecuzione a User3...
ALTER AUTHORIZATION ON CommonSchema.Proc1 TO User1
GRANT EXEC ON CommonSchema.Proc1 TO User3
GO

-- ... la catena non e' interrotta (perche' User1
-- e' proprietario sia della procedura, che della
-- tabella) quindi i permessi non vengono controllati
-- per User3 (possiamo verificare che effettivamente
-- il contesto di esecuzione e' quello di User3)
EXECUTE AS USER = 'User3'

EXEC	CommonSchema.Proc1

REVERT
GO

-- assegniamo nuovamente la proprieta' della procedura
-- all'utente User2
ALTER AUTHORIZATION ON CommonSchema.Proc1 TO User2
GRANT EXEC ON CommonSchema.Proc1 TO User3
GO

-- come gia' abbiamo visto non possiamo selezionare
-- per via dell'interruzione
EXECUTE AS USER = 'User3'

EXEC	CommonSchema.Proc1

REVERT
GO

-- in SQL 2005+ possiamo pero' modificare il contesto
-- di esecuzione del modulo (la procedura) per far si
-- che sia quello del proprietario
ALTER PROCEDURE CommonSchema.Proc1
WITH EXECUTE AS OWNER
AS
SELECT	*
,		USER_NAME() AS UserContext
FROM	CommonSchema.Table1
GO

-- possiamo verificare che ora User3 puo' selezionare
-- perche' il contesto di esecuzione e' quello di User2
-- che ha il permesso di selezionare dalla tabella
EXECUTE AS USER = 'User3'

EXEC	CommonSchema.Proc1

REVERT
GO

-- possiamo anche modificare la definizione per far
-- si che il contesto di esecuzione sia un utente
-- ben preciso, ad esempio User1
ALTER PROCEDURE CommonSchema.Proc1
WITH EXECUTE AS 'User1'
AS
SELECT	*
,		USER_NAME() AS UserContext
FROM	CommonSchema.Table1
GO

-- anche in questo caso User3 puo' selezionare
-- perche' il contesto di esecuzione e' quello
-- di User1 a sua volta puo' selezionare in quanto
-- proprietario della tabella
EXECUTE AS USER = 'User3'

EXEC	CommonSchema.Proc1

REVERT
GO

