------------------------------------------------------------------------
-- Copyright:   2018 Gianluca Hotz
-- License:     MIT License
--              Permission is hereby granted, free of charge, to any
--              person obtaining a copy of this software and associated
--              documentation files (the "Software"), to deal in the
--              Software without restriction, including without
--              limitation the rights to use, copy, modify, merge,
--              publish, distribute, sublicense, and/or sell copies of
--              the Software, and to permit persons to whom the
--              Software is furnished to do so, subject to the
--              following conditions:
--              The above copyright notice and this permission notice
--              shall be included in all copies or substantial portions
--              of the Software.
--              THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF
--              ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT
--              LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
--              FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO
--              EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE
--              FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN
--              AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
--              OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
--              OTHER DEALINGS IN THE SOFTWARE.
--              This script needs to be run on the source system.
-- Credits:     
------------------------------------------------------------------------
USE master
GO

-- create login without password policy enforcement
IF EXISTS(SELECT * FROM sys.sql_logins WHERE name = 'Emma')
	DROP LOGIN Emma
IF EXISTS(SELECT * FROM sys.sql_logins WHERE name = 'OwnerProc')
	DROP LOGIN OwnerProc
IF EXISTS(SELECT * FROM sys.sql_logins WHERE name = 'ProcExec')
	DROP LOGIN ProcExec
GO
CREATE LOGIN Emma		WITH	PASSWORD = 'Passw0rd'
CREATE LOGIN OwnerProc	WITH	PASSWORD = 'Passw0rd'
CREATE LOGIN ProcExec	WITH	PASSWORD = 'Passw0rd'
GO

-- create a test database
IF EXISTS(SELECT * FROM sys.databases WHERE name = 'SecurityTest')
BEGIN	
	ALTER DATABASE SecurityTest SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
	DROP DATABASE SecurityTest;
END
GO
CREATE DATABASE SecurityTest
GO

-- change database context
USE SecurityTest
GO

-- create users in database
IF EXISTS(SELECT * FROM sys.database_principals WHERE name = 'Emma')
	DROP USER Emma
IF EXISTS(SELECT * FROM sys.database_principals WHERE name = 'OwnerProc')
	DROP USER OwnerProc
GO
CREATE USER Emma		FOR LOGIN Emma
CREATE USER OwnerProc	FOR LOGIN OwnerProc
GO

-- create a table
CREATE TABLE dbo.EmployeeTable (
	Id		int				NOT NULL
,	EmpName	nvarchar(30)	NOT NULL
,	SSN		varchar(11)		NOT NULL

,	CONSTRAINT	pkEmployeeTable
	PRIMARY KEY	(Id)
)
GO

-- insert some data
INSERT	dbo.EmployeeTable VALUES (10, 'Emp1', '111-11-1111')
INSERT	dbo.EmployeeTable VALUES (20, 'Emp2', '222-22-2222')
INSERT	dbo.EmployeeTable VALUES (30, 'Emp3', '333-33-3333')
GO

-- create a schema
CREATE SCHEMA SchemaProc AUTHORIZATION OwnerProc
GO

-- create a procedure
CREATE PROCEDURE SchemaProc.HRAccess
AS
SELECT * FROM dbo.EmployeeTable
SELECT * FROM sys.login_token
GO

-- grant Emma execute permissions
GRANT EXECUTE ON SchemaProc.HRAccess TO Emma
GO

-- at this point Emma can't access the table
-- directly nor she can executing the stored
-- procedure
EXECUTE AS USER = 'Emma'

--SELECT * FROM dbo.EmployeeTable
EXEC	SchemaProc.HRAccess

REVERT
GO

-- create database master key
CREATE MASTER KEY
ENCRYPTION BY PASSWORD = 'Passw0rd'
GO

-- create certificates (not associated with a user)
CREATE CERTIFICATE EmployeeCertificate
WITH
	SUBJECT = 'Employee table certificate'
,	START_DATE = '20050601'
GO

-- sign the procedure with the private key associated with the certificate
ADD SIGNATURE TO SchemaProc.HRAccess
BY CERTIFICATE EmployeeCertificate
GO

-- create user assigned to this certificate
CREATE USER ProcExec FOR CERTIFICATE EmployeeCertificate
GO

-- grant permissions to this user
GRANT SELECT, INSERT ON dbo.EmployeeTable TO ProcExec
GO

-- at this point Emma can execute the procedure
-- (check the security tokens)
EXECUTE AS USER = 'Emma'

EXECUTE SchemaProc.HRAccess

REVERT
GO
