------------------------------------------------------------------------
-- Copyright:   2019 Gianluca Hotz
-- License:     MIT License
--              Permission is hereby granted, free of charge, to any
--              person obtaining a copy of this software and associated
--              documentation files (the "Software"), to deal in the
--              Software without restriction, including without
--              limitation the rights to use, copy, modify, merge,
--              publish, distribute, sublicense, and/or sell copies of
--              the Software, and to permit persons to whom the
--              Software is furnished to do so, subject to the
--              following conditions:
--              The above copyright notice and this permission notice
--              shall be included in all copies or substantial portions
--              of the Software.
--              THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF
--              ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT
--              LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
--              FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO
--              EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE
--              FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN
--              AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
--              OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
--              OTHER DEALINGS IN THE SOFTWARE.
-- Credits:
------------------------------------------------------------------------
-- This script demonstrates how to remove fragmentation.
--
-- We first show that completely full leaf pages, immediately generate
-- page-splits and fragmentation upon new inserts.
-- We then show how to remove fragmentation by rebuilding the clustered
-- index and leaving some free space in leaf pages (fillfactor 90).
-- We finally show that insert performance is higher now because we
-- don't generate as much page-splits with free space in pages and
-- fragmentation is also lower.
--
------------------------------------------------------------------------

-- change database context
USE master
GO

-- drop database if it already exists
IF EXISTS(SELECT * FROM sys.databases WHERE name = 'TestFrag')
	DROP DATABASE TestFrag
GO

-- creates database
CREATE DATABASE TestFrag
GO

-- change database context
USE TestFrag
GO

-- create a new table
IF OBJECTPROPERTY(object_id('Contact'), 'IsUserTable') = 1
	DROP TABLE dbo.Contact 
GO

-- add some new data
SELECT	P1.BusinessEntityID, P1.Title, P1.FirstName, P1.MiddleName, P1.LastName
,	P1.Suffix, P3.EmailAddress, P4.PhoneNumber, P2.PasswordHash, P2.PasswordSalt
,	CAST(NULL AS nvarchar(50)) AS Address
,	CAST(NULL AS nvarchar(50)) AS City
INTO	dbo.Contact
FROM	AdventureWorks2017.Person.Person AS P1
JOIN	AdventureWorks2017.Person.[Password] AS P2
  ON	P1.BusinessEntityID = P2.BusinessEntityID
JOIN	AdventureWorks2017.Person.EmailAddress AS P3
  ON	P1.BusinessEntityID = P3.BusinessEntityID
JOIN	AdventureWorks2017.Person.PersonPhone AS P4
  ON	P1.BusinessEntityID = P4.BusinessEntityID
GO

-- create clustered index
ALTER TABLE	dbo.Contact
ADD CONSTRAINT	pkContact
PRIMARY KEY	(BusinessEntityID)
go

-- and other secondary indexes
CREATE INDEX ixContactNames  ON dbo.Contact(LastName, FirstName)
CREATE INDEX ixContactEmail ON dbo.Contact(EmailAddress)
CREATE INDEX ixContactPasswordHash ON dbo.Contact(PasswordHash)
GO

-- verify indexes
SELECT	*
FROM	sys.indexes 
WHERE	object_id = OBJECT_ID('Contact')
GO

-- verify fragmentation 
-- avg_page_space_used_in_percent
-- avg_fragmentation_in_percent, fragment_count, avg_fragment_size_in_pages
-- with SQL 2000 we would have used DBCC SHOWCONTIG('Contact')
SELECT	*
FROM	sys.dm_db_index_physical_stats
		(DB_ID(), OBJECT_ID('TestFrag.dbo.Contact'), 1, NULL, 'SAMPLED')
GO

-- update variable length columns for some rows
-- taking timings
DECLARE	@StartTime	datetime
,	@EndTime	datetime
,	@NumRowsMod	int
,	@TotalTime	int

SET	@TotalTime = 0
SET	@StartTime = GETDATE()

UPDATE	dbo.Contact
SET	Address = '1234 Main St.'
,	City = 'Anywhere'
WHERE	BusinessEntityID % 30 = 0

SELECT	@NumRowsMod = @@ROWCOUNT
WHILE	@TotalTime = 0
BEGIN
	SELECT	@EndTime = GETDATE()
	SELECT  @TotalTime = DATEDIFF (ms, @StartTime, @EndTime) 
END
SELECT	@NumRowsMod AS 'RowsModified', @TotalTime AS 'TOTAL TIME (ms)'
,	convert(decimal(8,3), @NumRowsMod)/@TotalTime AS 'Rows per ms'
,	convert(decimal(8,3), @NumRowsMod)/@TotalTime*1000 AS 'Estimated Rows per sec'
GO

-- verify that fragmentation is quite severe even after a small update
SELECT	* 
FROM	sys.dm_db_index_physical_stats
	(DB_ID(), OBJECT_ID('TestFrag.dbo.Contact'), 1, NULL, 'SAMPLED')

-- verify that other indexes were not affected by fragmentation
SELECT * 
FROM sys.dm_db_index_physical_stats
	(db_id(), OBJECT_ID('TestFrag.dbo.Contact'), DEFAULT, NULL, 'SAMPLED')
GO

-- to remove fragmentation we rebuild the index
ALTER INDEX pkContact ON dbo.Contact
REBUILD WITH (FILLFACTOR = 90)
GO

-- verify that fragmentation is now fixed
SELECT	* 
FROM	sys.dm_db_index_physical_stats
	(DB_ID(), OBJECT_ID('TestFrag.dbo.Contact'), 1, NULL, 'SAMPLED')
GO

-- update variable length columns for some rows and compare
-- taking timings (they should be less even for more rows updated)
DECLARE	@StartTime	datetime
,	@EndTime	datetime
,	@NumRowsMod	int
,	@TotalTime	int

SET	@TotalTime = 0
SET	@StartTime = GETDATE()

UPDATE	dbo.Contact
SET	Address = '1234 Main St.'
,	City = 'Anywhere'
WHERE	BusinessEntityID % 15 = 0

SELECT	@NumRowsMod = @@ROWCOUNT
WHILE	@TotalTime = 0
BEGIN
	SELECT	@EndTime = GETDATE()
	SELECT  @TotalTime = DATEDIFF (ms, @StartTime, @EndTime) 
END
SELECT	@NumRowsMod AS 'RowsModified', @TotalTime AS 'TOTAL TIME (ms)'
,	convert(decimal(8,3), @NumRowsMod)/@TotalTime AS 'Rows per ms'
,	convert(decimal(8,3), @NumRowsMod)/@TotalTime*1000 AS 'Estimated Rows per sec'
GO

-- verify that fragmentation is still little
SELECT	* 
FROM	sys.dm_db_index_physical_stats
	(DB_ID(), OBJECT_ID('TestFrag.dbo.Contact'), 1, NULL, 'SAMPLED')
GO

SELECT	*
FROM	dbo.Contact
WHERE	BusinessEntityID % 15 = 0
