/*
** Questo script e' utilizzato per dimostrare l'uso
** delle transazioni e delle transazioni nidificate
** in SQL Server 2005
**
*/

-- cambiamo in database di contesto
USE Northwind
GO

-- facciamo un backup preventivo del database
BACKUP DATABASE Northwind TO DISK = 'c:\demos\backups\Northwind.bak' WITH INIT
GO

-- per eliminare completamente il cliente dobbiamo eliminare
-- prima i dettagli ordini, poi gli ordini ed infine
-- il cliente
--
-- se vogliamo farlo in un unica operazione, utilizziamo
-- una transazione
BEGIN TRANSACTION

	DELETE	dbo.[Order Details]
	WHERE	OrderID IN (SELECT OrderId FROM dbo.Orders WHERE CustomerId = 'ALFKI')

	DELETE	dbo.Orders
	WHERE	CustomerId = 'ALFKI'

	DELETE	dbo.Customers
	WHERE	CustomerId = 'ALFKI'

-- al termine possiamo confermare la transazione con
-- COMMIT TRANSACTION
-- oppure annullarla con
ROLLBACK TRANSACTION

-- cosa succede se si verifica un errore applicativo mentre sto
-- facendo la transazione ? ad esempio eliminiamo solo il dettaglio
-- ordini e cerchiamo di eliminare il cliente senza prima avere
-- eliminato le testate ordine ? (Nota: c'e' una foreign key tra
-- cliente ed ordini)
BEGIN TRANSACTION

DELETE	dbo.[Order Details]
WHERE	OrderID IN (SELECT OrderId FROM dbo.Orders WHERE CustomerId = 'ALFKI')

DELETE	dbo.Customers
WHERE	CustomerId = 'ALFKI'

COMMIT TRANSACTION

-- si verifica un errore, ma la prima parte della transazione
-- e' stata comunque confermata (il dettaglio ordini e' stato
-- eliminato).

SELECT	*
FROM	[Order Details]
WHERE	OrderID IN (SELECT OrderId FROM Orders WHERE CustomerId = 'ALFKI')

-- Questo comportamento e' corretto: gli errori applicativi
-- devono essere gestiti

-- spostiamoci nel master...
USE master
GO

-- ... per ripristinare il database
RESTORE DATABASE Northwind FROM DISK = 'c:\demos\backups\northwind.bak'
GO

-- ritorniamo nel contesto del Northwind
USE Northwind
GO

-- questa e' la versione con la
-- gestione degli errori in SQL 2000
BEGIN TRANSACTION

	DELETE	dbo.[Order Details]
	WHERE	OrderID IN (SELECT OrderId FROM dbo.Orders WHERE CustomerId = 'ALFKI')
	IF @@ERROR != 0
	BEGIN
		ROLLBACK TRANSACTION
	END
	ELSE
	BEGIN
		DELETE	dbo.Customers
		WHERE	CustomerId = 'ALFKI'

		IF @@ERROR != 0
		BEGIN
			ROLLBACK TRANSACTION
		END
		ELSE
		BEGIN
			COMMIT TRANSACTION
		END
END
GO

-- questa e' la versione con la
-- gestione degli errori in SQL 2005
BEGIN TRY
	BEGIN TRANSACTION

	DELETE	dbo.[Order Details]
	WHERE	OrderID IN (SELECT OrderId FROM dbo.Orders WHERE CustomerId = 'ALFKI')

	DELETE	dbo.Customers
	WHERE	CustomerId = 'ALFKI'

	COMMIT TRANSACTION
END TRY
BEGIN CATCH
	ROLLBACK TRANSACTION
END CATCH
GO

-- i dettagli ordini sono rimasti
SELECT	*
FROM	dbo.[Order Details]
WHERE	OrderID IN (SELECT OrderId FROM dbo.Orders WHERE CustomerId = 'ALFKI')
GO

-- in generale la gestione degli errori e' piu' complessa
-- e tiene conto dello stato della transazione: se e' aperta
-- e se e' confermabile o meno
BEGIN TRY
	BEGIN TRANSACTION

	DELETE	dbo.[Order Details]
	WHERE	OrderID IN (SELECT OrderId FROM dbo.Orders WHERE CustomerId = 'ALFKI')

	DELETE	dbo.Customers
	WHERE	CustomerId = 'ALFKI'

	COMMIT TRANSACTION
END TRY
BEGIN CATCH
	PRINT 'Errore: ' + CAST(ERROR_NUMBER() AS VARCHAR(10))

	IF (XACT_STATE()) = -1
	BEGIN
		PRINT 'La transazione e'' aperta ma non confermabile.'
		/* ...altre elaborazioni... */
		ROLLBACK TRANSACTION -- e' solo possibile fare rollback
		/* ...gestione dell'errore... */
	END
	ELSE IF (XACT_STATE()) = 1
	BEGIN
		PRINT 'La tranzione e'' aperta e confermabile.'
		/* ...altre elaborazioni... */
		ROLLBACK TRANSACTION -- oppure COMMIT
		/* ...gestione dell'errore... */
	END
	ELSE
	BEGIN
		PRINT 'Nessuna transazione aperta'
		/* ...gestione dell'errore... */
	END
END CATCH
GO

/*
** Transazioni nidificate
**/
-- dobbiamo confermare tutte le transazioni
BEGIN TRANSACTION
	SELECT	@@TRANCOUNT AS TxAperte
	BEGIN TRANSACTION
		SELECT	@@TRANCOUNT AS TxAperte
	COMMIT TRANSACTION
	SELECT	@@TRANCOUNT AS TxAperte
COMMIT TRANSACTION
SELECT	@@TRANCOUNT AS TxAperte
GO

-- il rollback pero' le annulla tutte automaticamente
BEGIN TRANSACTION
	SELECT	@@TRANCOUNT AS TxAperte
	BEGIN TRANSACTION
		SELECT	@@TRANCOUNT AS TxAperte
	ROLLBACK TRANSACTION
	SELECT	@@TRANCOUNT AS TxAperte
GO

-- e' possibile assegnare dei nomi alle transazioni
BEGIN TRANSACTION t1
	SELECT	@@TRANCOUNT AS TxAperte
	BEGIN TRANSACTION t2
		SELECT	@@TRANCOUNT AS TxAperte
		-- non e' possibile fare rollback per
		-- una transazione qualsiasi
		ROLLBACK TRANSACTION t2
		-- deve essere per forza quella piu'
		-- esterna
		ROLLBACK TRANSACTION t1
		SELECT	@@TRANCOUNT AS TxAperte
GO

-- e' possibile salvare le transazioni con degli
-- identificatori ed annullare le operazioni fino
-- ad un determinato identificatore
BEGIN TRANSACTION
	SELECT	@@TRANCOUNT AS TxAperte
	BEGIN TRANSACTION
		SELECT	@@TRANCOUNT AS TxAperte
		-- salviamo con l'identificatore
		SAVE TRANSACTION s1
		-- il numero di transazioni e' sempre lo stesso
		SELECT	@@TRANCOUNT AS TxAperte
		-- eliminiamo dei dati
		DELETE	dbo.[Order Details]
		DELETE	dbo.Orders
		-- annulliamo le modifiche fino all'identificatore
		ROLLBACK TRANSACTION s1
		SELECT	@@TRANCOUNT AS TxAperte
	COMMIT TRANSACTION
	SELECT	@@TRANCOUNT AS TxAperte
COMMIT TRANSACTION
SELECT	@@TRANCOUNT AS TxAperte
GO

-- verifichiamo che i dati non siano
-- stati eliminati
SELECT * FROM dbo.Orders
SELECT * FROM dbo.[Order Details]
GO

-- attenzione alle stored procedures
IF OBJECT_ID('dbo.myproc') IS NOT NULL
	DROP PROCEDURE dbo.myproc
GO

CREATE PROCEDURE dbo.myproc
AS

BEGIN TRANSACTION

GO

-- apriamo una transazione
BEGIN TRANSACTION
SELECT	@@TRANCOUNT AS TxAperte
	-- eseguiamo la procedura che non chiude la transazione
	EXEC	dbo.myproc
	-- errore, ma la transazione e' sempre aperta!
	SELECT	@@TRANCOUNT AS TranAperte
ROLLBACK TRANSACTION
























