------------------------------------------------------------------------
-- Script:			03.transactions.sql
-- Last update:		2012-01-20
-- Author:			Gianluca Hotz  (SolidQ)
-- Credits:			
-- Copyright:		Attribution-NonCommercial-ShareAlike 3.0
-- Versions:		SQL2000/2005/2008/2008R2
--
-- Description:
-- Lo scopo di questo script e' di dimostrare l'uso delle transazioni
-- e delle transazioni nidificate in SQL Server
--
-- Nota bene: e' necessario disporre del database Northwind per
-- eseguire questa demo.
------------------------------------------------------------------------

------------------------------------------------------------------------
-- cambiamo in database di contesto
------------------------------------------------------------------------
USE Northwind
GO

------------------------------------------------------------------------
-- facciamo un backup preventivo del database
------------------------------------------------------------------------
BACKUP DATABASE Northwind TO DISK = 'Northwind.bak' WITH INIT
GO

------------------------------------------------------------------------
-- Per eliminare completamente il cliente dobbiamo eliminare
-- prima i dettagli ordini, poi gli ordini ed infine il cliente.
--
-- Se vogliamo farlo in un unica operazione atomica, possiamo utilizzare
-- una transazione.
------------------------------------------------------------------------
BEGIN TRANSACTION

	DELETE	dbo.[Order Details]
	WHERE	OrderID IN (SELECT OrderId FROM dbo.Orders WHERE CustomerId = 'ALFKI')

	DELETE	dbo.Orders
	WHERE	CustomerId = 'ALFKI'

	DELETE	dbo.Customers
	WHERE	CustomerId = 'ALFKI'

------------------------------------------------------------------------
-- al termine possiamo confermare la transazione con COMMIT TRANSACTION
-- oppure annullarla con ROLLBACK TRANSACTION.
------------------------------------------------------------------------
ROLLBACK TRANSACTION
GO

------------------------------------------------------------------------
-- Cosa succede se si verifica un errore applicativo mentre sto facendo
-- la transazione ? ad esempio eliminiamo solo il dettaglio ordini e
-- cerchiamo di eliminare il cliente senza prima avere eliminato le
-- testate ordine ? (Nota: c'e' una foreign key tra cliente ed ordini)
------------------------------------------------------------------------
BEGIN TRANSACTION

DELETE	dbo.[Order Details]
WHERE	OrderID IN (SELECT OrderId FROM dbo.Orders WHERE CustomerId = 'ALFKI')

DELETE	dbo.Customers
WHERE	CustomerId = 'ALFKI'

COMMIT TRANSACTION
GO

------------------------------------------------------------------------
-- Si verifica un errore, ma la prima parte della transazione e' stata
-- comunque confermata (il dettaglio ordini e' stato eliminato).
------------------------------------------------------------------------
SELECT	*
FROM	[Order Details]
WHERE	OrderID IN (SELECT OrderId FROM Orders WHERE CustomerId = 'ALFKI')
GO

------------------------------------------------------------------------
-- Questo comportamento e' corretto: il controllo delle transazioni e'
-- immediato, l'errore viene segnalato immediatamente, ma si lascia la
-- possibilita' alla transazione di decidere se correggere l'errore e
-- confermare, oppure se non confermare. In altre parole: gli errori
-- logici di questo tipo devono essere gestiti dalle applicazioni.
------------------------------------------------------------------------

------------------------------------------------------------------------
-- Spostiamoci nel master...
------------------------------------------------------------------------
USE master
GO

------------------------------------------------------------------------
-- ... per ripristinare il database.
------------------------------------------------------------------------
RESTORE DATABASE Northwind FROM DISK = 'northwind.bak' WITH REPLACE
GO

------------------------------------------------------------------------
-- Ritorniamo nel contesto del Northwind.
------------------------------------------------------------------------
USE Northwind
GO

------------------------------------------------------------------------
-- Questa e' un esempio di gestione degli errori in SQL 2000.
------------------------------------------------------------------------
BEGIN TRANSACTION

	DELETE	dbo.[Order Details]
	WHERE	OrderID IN (SELECT OrderId FROM dbo.Orders WHERE CustomerId = 'ALFKI')
	IF @@ERROR <> 0
	BEGIN
		ROLLBACK TRANSACTION
	END
	ELSE
	BEGIN
		DELETE	dbo.Customers
		WHERE	CustomerId = 'ALFKI'

		IF @@ERROR <> 0
		BEGIN
			ROLLBACK TRANSACTION
		END
		ELSE
		BEGIN
			COMMIT TRANSACTION
		END
END
GO

------------------------------------------------------------------------
-- Questa e' un esempio di gestione degli errori in SQL 2005.
------------------------------------------------------------------------
BEGIN TRY
	BEGIN TRANSACTION

	DELETE	dbo.[Order Details]
	WHERE	OrderID IN (SELECT OrderId FROM dbo.Orders WHERE CustomerId = 'ALFKI')

	DELETE	dbo.Customers
	WHERE	CustomerId = 'ALFKI'

	COMMIT TRANSACTION
END TRY
BEGIN CATCH
	ROLLBACK TRANSACTION
END CATCH
GO

------------------------------------------------------------------------
-- Verifichiamo che i dettagli ordini sono rimasti.
------------------------------------------------------------------------
SELECT	*
FROM	dbo.[Order Details]
WHERE	OrderID IN (SELECT OrderId FROM dbo.Orders WHERE CustomerId = 'ALFKI')
GO

------------------------------------------------------------------------
-- In generale la gestione degli errori e' piu' complessa e tiene conto
-- dello stato della transazione: se e' aperta e se e' confermabile o
-- meno come in questo esempio per SQL 2005.
------------------------------------------------------------------------
BEGIN TRY
	BEGIN TRANSACTION

	DELETE	dbo.[Order Details]
	WHERE	OrderID IN (SELECT OrderId FROM dbo.Orders WHERE CustomerId = 'ALFKI')

	DELETE	dbo.Customers
	WHERE	CustomerId = 'ALFKI'

	COMMIT TRANSACTION
END TRY
BEGIN CATCH
	PRINT 'Errore: ' + CAST(ERROR_NUMBER() AS VARCHAR(10))

	IF (XACT_STATE()) = -1
	BEGIN
		PRINT 'La transazione e'' aperta ma non confermabile.'
		/* ...altre elaborazioni... */
		ROLLBACK TRANSACTION -- e' solo possibile fare rollback
		/* ...gestione dell'errore... */
	END
	ELSE IF (XACT_STATE()) = 1
	BEGIN
		PRINT 'La tranzione e'' aperta e confermabile.'
		/* ...altre elaborazioni... */
		ROLLBACK TRANSACTION -- oppure COMMIT
		/* ...gestione dell'errore... */
	END
	ELSE
	BEGIN
		PRINT 'Nessuna transazione aperta'
		/* ...gestione dell'errore... */
	END
END CATCH
GO

------------------------------------------------------------------------
-- Transazioni nidificate
------------------------------------------------------------------------

------------------------------------------------------------------------
-- Tutte le transazioni devono essere confermate.
------------------------------------------------------------------------
BEGIN TRANSACTION
	SELECT	@@TRANCOUNT AS TxAperte
	BEGIN TRANSACTION
		SELECT	@@TRANCOUNT AS TxAperte
	COMMIT TRANSACTION
	SELECT	@@TRANCOUNT AS TxAperte
COMMIT TRANSACTION
SELECT	@@TRANCOUNT AS TxAperte
GO

------------------------------------------------------------------------
-- Il rollback pero' le annulla tutte automaticamente.
------------------------------------------------------------------------
BEGIN TRANSACTION
	SELECT	@@TRANCOUNT AS TxAperte
	BEGIN TRANSACTION
		SELECT	@@TRANCOUNT AS TxAperte
	ROLLBACK TRANSACTION
	SELECT	@@TRANCOUNT AS TxAperte
GO

------------------------------------------------------------------------
-- Si possono assegnare dei nomi alle transazioni...
------------------------------------------------------------------------
BEGIN TRANSACTION t1
	SELECT	@@TRANCOUNT AS TxAperte
	BEGIN TRANSACTION t2
		SELECT	@@TRANCOUNT AS TxAperte
		-- ...non e' possibile pero' fare rollback per
		-- una transazione qualsiasi...
		ROLLBACK TRANSACTION t2
		-- ...deve essere per forza quella piu'
		-- esterna.
		ROLLBACK TRANSACTION t1
		SELECT	@@TRANCOUNT AS TxAperte
GO

------------------------------------------------------------------------
-- Si possono salvare le transazioni con degli identificatori ed
-- annullare le operazioni fino ad un determinato identificatore.
------------------------------------------------------------------------
BEGIN TRANSACTION
	SELECT	@@TRANCOUNT AS TxAperte
	BEGIN TRANSACTION
		SELECT	@@TRANCOUNT AS TxAperte
		-- Salviamo con l'identificatore...
		SAVE TRANSACTION s1
		-- ...il numero di transazioni rimane lo stesso.
		SELECT	@@TRANCOUNT AS TxAperte
		-- Eliminiamo dei dati...
		DELETE	dbo.[Order Details]
		DELETE	dbo.Orders
		-- ...possiamo annullare le modifiche fatte
		-- a partire dall'identificatore.
		ROLLBACK TRANSACTION s1
		SELECT	@@TRANCOUNT AS TxAperte
	COMMIT TRANSACTION
	SELECT	@@TRANCOUNT AS TxAperte
COMMIT TRANSACTION
SELECT	@@TRANCOUNT AS TxAperte
GO

------------------------------------------------------------------------
-- Verifichiamo che i dati non siano stati eliminati.
------------------------------------------------------------------------
SELECT * FROM dbo.Orders
SELECT * FROM dbo.[Order Details]
GO

------------------------------------------------------------------------
-- Attenzione alle stored procedures, creiamone una che apre una
-- transazione e non la chiude prima di terminare...
------------------------------------------------------------------------
IF OBJECT_ID('dbo.myproc') IS NOT NULL
	DROP PROCEDURE dbo.myproc
GO

CREATE PROCEDURE dbo.myproc
AS

BEGIN TRANSACTION

GO

------------------------------------------------------------------------
-- ...apriamo ora una transazione...
------------------------------------------------------------------------
BEGIN TRANSACTION
SELECT	@@TRANCOUNT AS TxAperte
	-- ...eseguiamo la procedura che non chiude la transazione...
	EXEC	dbo.myproc
	-- ...errore, ma la transazione e' sempre aperta!
	SELECT	@@TRANCOUNT AS TranAperte
ROLLBACK TRANSACTION
GO