------------------------------------------------------------------------
--
-- Author:		Gianluca Hotz (Solid Quality Learning)
-- Credits:
-- Copyright:	Attribution-NonCommercial-ShareAlike 2.5
-- Version:		SQL Server 2000/2005/2008/2008R2/2012
-- Tab/indent size:	8
--
-- Default paths:	
--
-- Default instances:
--
-- Lo scopo di questo script e' di dimostrare l'uso delle transazioni
-- e delle transazioni nidificate in SQL Server
--
-- Nota bene: e' necessario disporre del database Northwind per
-- eseguire questa demo.
--
------------------------------------------------------------------------

------------------------------------------------------------------------
-- cambiamo in database di contesto
------------------------------------------------------------------------
USE Northwind
GO

------------------------------------------------------------------------
-- facciamo un backup preventivo del database
------------------------------------------------------------------------
BACKUP DATABASE Northwind TO DISK = 'Northwind.bak' WITH INIT
GO

------------------------------------------------------------------------
-- Per eliminare completamente il cliente dobbiamo eliminare
-- prima i dettagli ordini, poi gli ordini ed infine il cliente.
--
-- Se vogliamo farlo in un unica operazione atomica, possiamo utilizzare
-- una transazione.
------------------------------------------------------------------------
BEGIN TRANSACTION

	DELETE	dbo.[Order Details]
	WHERE	OrderID IN (SELECT OrderId FROM dbo.Orders WHERE CustomerId = 'ALFKI')

	DELETE	dbo.Orders
	WHERE	CustomerId = 'ALFKI'

	DELETE	dbo.Customers
	WHERE	CustomerId = 'ALFKI'

------------------------------------------------------------------------
-- al termine possiamo confermare la transazione con COMMIT TRANSACTION
-- oppure annullarla con ROLLBACK TRANSACTION.
------------------------------------------------------------------------
ROLLBACK TRANSACTION
GO

------------------------------------------------------------------------
-- Cosa succede se si verifica un errore applicativo mentre sto facendo
-- la transazione ? ad esempio eliminiamo solo il dettaglio ordini e
-- cerchiamo di eliminare il cliente senza prima avere eliminato le
-- testate ordine ? (Nota: c'e' una foreign key tra cliente ed ordini)
------------------------------------------------------------------------
BEGIN TRANSACTION

DELETE	dbo.[Order Details]
WHERE	OrderID IN (SELECT OrderId FROM dbo.Orders WHERE CustomerId = 'ALFKI')

DELETE	dbo.Customers
WHERE	CustomerId = 'ALFKI'

COMMIT TRANSACTION
GO

------------------------------------------------------------------------
-- Si verifica un errore, ma la prima parte della transazione e' stata
-- comunque confermata (il dettaglio ordini e' stato eliminato).
------------------------------------------------------------------------
SELECT	*
FROM	[Order Details]
WHERE	OrderID IN (SELECT OrderId FROM Orders WHERE CustomerId = 'ALFKI')
GO

------------------------------------------------------------------------
-- Questo comportamento e' corretto: il controllo delle transazioni e'
-- immediato, l'errore viene segnalato immediatamente, ma si lascia la
-- possibilita' alla transazione di decidere se correggere l'errore e
-- confermare, oppure se non confermare. In altre parole: gli errori
-- logici di questo tipo devono essere gestiti dalle applicazioni.
------------------------------------------------------------------------

------------------------------------------------------------------------
-- Spostiamoci nel master...
------------------------------------------------------------------------
USE master
GO

------------------------------------------------------------------------
-- ... per ripristinare il database.
------------------------------------------------------------------------
RESTORE DATABASE Northwind FROM DISK = 'northwind.bak' WITH REPLACE
GO

------------------------------------------------------------------------
-- Ritorniamo nel contesto del Northwind.
------------------------------------------------------------------------
USE Northwind
GO

------------------------------------------------------------------------
-- Questa e' un esempio di gestione degli errori in SQL 2000.
------------------------------------------------------------------------
BEGIN TRANSACTION

	DELETE	dbo.[Order Details]
	WHERE	OrderID IN (SELECT OrderId FROM dbo.Orders WHERE CustomerId = 'ALFKI')
	IF @@ERROR <> 0
	BEGIN
		ROLLBACK TRANSACTION
	END
	ELSE
	BEGIN
		DELETE	dbo.Customers
		WHERE	CustomerId = 'ALFKI'

		IF @@ERROR <> 0
		BEGIN
			ROLLBACK TRANSACTION
		END
		ELSE
		BEGIN
			COMMIT TRANSACTION
		END
END
GO

------------------------------------------------------------------------
-- Questa e' un esempio di gestione degli errori in SQL 2005.
------------------------------------------------------------------------
BEGIN TRY
	BEGIN TRANSACTION

	DELETE	dbo.[Order Details]
	WHERE	OrderID IN (SELECT OrderId FROM dbo.Orders WHERE CustomerId = 'ALFKI')

	DELETE	dbo.Customers
	WHERE	CustomerId = 'ALFKI'

	COMMIT TRANSACTION
END TRY
BEGIN CATCH
	ROLLBACK TRANSACTION
END CATCH
GO

------------------------------------------------------------------------
-- Verifichiamo che i dettagli ordini sono rimasti.
------------------------------------------------------------------------
SELECT	*
FROM	dbo.[Order Details]
WHERE	OrderID IN (SELECT OrderId FROM dbo.Orders WHERE CustomerId = 'ALFKI')
GO

------------------------------------------------------------------------
-- In generale la gestione degli errori e' piu' complessa e tiene conto
-- dello stato della transazione: se e' aperta e se e' confermabile o
-- meno come in questo esempio per SQL 2005.
------------------------------------------------------------------------
BEGIN TRY
	BEGIN TRANSACTION

	DELETE	dbo.[Order Details]
	WHERE	OrderID IN (SELECT OrderId FROM dbo.Orders WHERE CustomerId = 'ALFKI')

	DELETE	dbo.Customers
	WHERE	CustomerId = 'ALFKI'

	COMMIT TRANSACTION
END TRY
BEGIN CATCH
	PRINT 'Errore: ' + CAST(ERROR_NUMBER() AS VARCHAR(10))

	IF (XACT_STATE()) = -1
	BEGIN
		PRINT 'La transazione e'' aperta ma non confermabile.'
		/* ...altre elaborazioni... */
		ROLLBACK TRANSACTION -- e' solo possibile fare rollback
		/* ...gestione dell'errore... */
	END
	ELSE IF (XACT_STATE()) = 1
	BEGIN
		PRINT 'La tranzione e'' aperta e confermabile.'
		/* ...altre elaborazioni... */
		ROLLBACK TRANSACTION -- oppure COMMIT
		/* ...gestione dell'errore... */
	END
	ELSE
	BEGIN
		PRINT 'Nessuna transazione aperta'
		/* ...gestione dell'errore... */
	END
END CATCH
GO

------------------------------------------------------------------------
-- Re-throw errori con SQL Server 2005/2008
------------------------------------------------------------------------

-- Nella maggior parte dei casi non e' possibile sanare la condizione
-- di errore direttamente in T-SQL, serve fare rollback e notificare
-- all'applicazione l'errore originale. 

-- Il grosso problema e' che il comando RAISERROR non permette di
-- creare errori di sistema (codici < 50000) programmaticamente.

-- Qual'e' al soluzione indicata nei Books Online?

-- Creare una stored procedure che crea un errore custom
-- contentente l'errore originale:

IF OBJECT_ID (N'usp_RethrowError',N'P') IS NOT NULL
    DROP PROCEDURE usp_RethrowError;
GO
CREATE PROCEDURE usp_RethrowError AS
    -- Return if there is no error information to retrieve.
    IF ERROR_NUMBER() IS NULL
        RETURN;

    DECLARE 
        @ErrorMessage    NVARCHAR(4000),
        @ErrorNumber     INT,
        @ErrorSeverity   INT,
        @ErrorState      INT,
        @ErrorLine       INT,
        @ErrorProcedure  NVARCHAR(200);

    -- Assign variables to error-handling functions that 
    -- capture information for RAISERROR.
    SELECT 
        @ErrorNumber = ERROR_NUMBER(),
        @ErrorSeverity = ERROR_SEVERITY(),
        @ErrorState = ERROR_STATE(),
        @ErrorLine = ERROR_LINE(),
        @ErrorProcedure = ISNULL(ERROR_PROCEDURE(), '-');

    -- Build the message string that will contain original
    -- error information.
    SELECT @ErrorMessage = 
        N'Error %d, Level %d, State %d, Procedure %s, Line %d, ' + 
            'Message: '+ ERROR_MESSAGE();

    -- Raise an error: msg_str parameter of RAISERROR will contain
    -- the original error information.
    RAISERROR 
        (
        @ErrorMessage, 
        @ErrorSeverity, 
        1,               
        @ErrorNumber,    -- parameter: original error number.
        @ErrorSeverity,  -- parameter: original error severity.
        @ErrorState,     -- parameter: original error state.
        @ErrorProcedure, -- parameter: original error procedure name.
        @ErrorLine       -- parameter: original error line number.
        );
GO

-- Vediamo come usarlo
BEGIN TRY
	BEGIN TRANSACTION;

	DELETE	dbo.[Order Details]
	WHERE	OrderID IN (SELECT OrderId FROM dbo.Orders WHERE CustomerId = 'ALFKI');

	DELETE	dbo.Orders
	WHERE	CustomerId = 'ALFKI'
		AND	OrderDate >= '20110101';	-- ordini tutti negli anni '90

	DELETE	dbo.Customers
	WHERE	CustomerId = 'ALFKI';

	COMMIT TRANSACTION;
END TRY
BEGIN CATCH
	 IF @@TRANCOUNT > 0
	    ROLLBACK TRANSACTION;
	EXEC usp_RethrowError;
END CATCH
GO

-- Vedete il problema? il codice di errore e' customer e l'applicazione
-- dovrebbe fare il parsing per trovare l'errore originale...

------------------------------------------------------------------------
-- Re-throw con SQL Server 2012
------------------------------------------------------------------------
BEGIN TRY
	BEGIN TRANSACTION;

	DELETE	dbo.[Order Details]
	WHERE	OrderID IN (SELECT OrderId FROM dbo.Orders WHERE CustomerId = 'ALFKI');

	DELETE	dbo.Orders
	WHERE	CustomerId = 'ALFKI'
		AND	OrderDate >= '20110101';	-- ordini tutti negli anni '90

	DELETE	dbo.Customers
	WHERE	CustomerId = 'ALFKI';

	COMMIT TRANSACTION;
END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0
	    ROLLBACK TRANSACTION;
	THROW;
END CATCH
GO

------------------------------------------------------------------------
-- Attenzione anche agli errore che terminano batch/scope!
------------------------------------------------------------------------
--SET XACT_ABORT OFF;
BEGIN TRY
	BEGIN TRANSACTION;

	DELETE	dbo.[Order Details]
	WHERE	OrderID IN (SELECT OrderId FROM dbo.Orders WHERE CustomerId = 'ALFKI');

	DELETE	dbo.Ordersz
	WHERE	CustomerId = 'ALFKI'
		AND	OrderDate >= '20110101';	-- ordini tutti negli anni '90

	DELETE	dbo.Customers
	WHERE	CustomerId = 'ALFKI';

	COMMIT TRANSACTION;
END TRY
BEGIN CATCH
	PRINT 'Execution will never get here';
	IF @@TRANCOUNT > 0
	    ROLLBACK TRANSACTION;
	--THROW;
END CATCH
GO

-- Transaction ancora aperta!
SELECT @@TRANCOUNT;
ROLLBACK TRANSACTION;
GO

-- Altri scenari: temp tables, timeouts o cancellazione query

------------------------------------------------------------------------
-- Gestione alternativa? Semplificare con XACT_ABORT ON
------------------------------------------------------------------------
SET XACT_ABORT ON;
BEGIN TRANSACTION;

	DELETE	dbo.[Order Details]
	WHERE	OrderID IN (SELECT OrderId FROM dbo.Orders WHERE CustomerId = 'ALFKI');

	DELETE	dbo.Orders
	WHERE	CustomerId = 'ALFKI'
		AND	OrderDate >= '20110101';	-- they're all in the nineties...

	DELETE	dbo.Customers
	WHERE	CustomerId = 'ALFKI';

COMMIT TRANSACTION;
GO
-- Verifichiamo che le righe non siano state cancellate
SELECT	*
FROM	[Order Details]
WHERE	OrderID IN (SELECT OrderId FROM Orders WHERE CustomerId = 'ALFKI');
GO


------------------------------------------------------------------------
-- Transazioni nidificate
------------------------------------------------------------------------
SET XACT_ABORT OFF;
GO

------------------------------------------------------------------------
-- Tutte le transazioni devono essere confermate.
------------------------------------------------------------------------
BEGIN TRANSACTION
	SELECT	@@TRANCOUNT AS TxAperte
	BEGIN TRANSACTION
		SELECT	@@TRANCOUNT AS TxAperte
	COMMIT TRANSACTION
	SELECT	@@TRANCOUNT AS TxAperte
COMMIT TRANSACTION
SELECT	@@TRANCOUNT AS TxAperte
GO

------------------------------------------------------------------------
-- Il rollback pero' le annulla tutte automaticamente.
------------------------------------------------------------------------
BEGIN TRANSACTION
	SELECT	@@TRANCOUNT AS TxAperte
	BEGIN TRANSACTION
		SELECT	@@TRANCOUNT AS TxAperte
	ROLLBACK TRANSACTION
	SELECT	@@TRANCOUNT AS TxAperte
GO

------------------------------------------------------------------------
-- Si possono assegnare dei nomi alle transazioni...
------------------------------------------------------------------------
BEGIN TRANSACTION t1
	SELECT	@@TRANCOUNT AS TxAperte
	BEGIN TRANSACTION t2
		SELECT	@@TRANCOUNT AS TxAperte
		-- ...non e' possibile pero' fare rollback per
		-- una transazione qualsiasi...
		ROLLBACK TRANSACTION t2
		-- ...deve essere per forza quella piu'
		-- esterna.
		ROLLBACK TRANSACTION t1
		SELECT	@@TRANCOUNT AS TxAperte
GO

------------------------------------------------------------------------
-- Si possono salvare le transazioni con degli identificatori ed
-- annullare le operazioni fino ad un determinato identificatore.
------------------------------------------------------------------------
BEGIN TRANSACTION
	SELECT	@@TRANCOUNT AS TxAperte
	BEGIN TRANSACTION
		SELECT	@@TRANCOUNT AS TxAperte
		-- Salviamo con l'identificatore...
		SAVE TRANSACTION s1
		-- ...il numero di transazioni rimane lo stesso.
		SELECT	@@TRANCOUNT AS TxAperte
		-- Eliminiamo dei dati...
		DELETE	dbo.[Order Details]
		DELETE	dbo.Orders
		-- ...possiamo annullare le modifiche fatte
		-- a partire dall'identificatore.
		ROLLBACK TRANSACTION s1
		SELECT	@@TRANCOUNT AS TxAperte
	COMMIT TRANSACTION
	SELECT	@@TRANCOUNT AS TxAperte
COMMIT TRANSACTION
SELECT	@@TRANCOUNT AS TxAperte
GO

------------------------------------------------------------------------
-- Verifichiamo che i dati non siano stati eliminati.
------------------------------------------------------------------------
SELECT * FROM dbo.Orders
SELECT * FROM dbo.[Order Details]
GO

------------------------------------------------------------------------
-- Attenzione alle stored procedures, creiamone una che apre una
-- transazione e non la chiude prima di terminare...
------------------------------------------------------------------------
IF OBJECT_ID('dbo.myproc') IS NOT NULL
	DROP PROCEDURE dbo.myproc
GO

CREATE PROCEDURE dbo.myproc
AS

BEGIN TRANSACTION

GO

------------------------------------------------------------------------
-- ...apriamo ora una transazione...
------------------------------------------------------------------------
BEGIN TRANSACTION
SELECT	@@TRANCOUNT AS TxAperte
	-- ...eseguiamo la procedura che non chiude la transazione...
	EXEC	dbo.myproc
	-- ...errore, ma la transazione e' sempre aperta!
	SELECT	@@TRANCOUNT AS TranAperte
ROLLBACK TRANSACTION
GO