------------------------------------------------------------------------
--
-- Script:		03.online-piecemeal-restore.sql
-- Author:		Gianluca Hotz (Solid Quality Learning)
-- Credits:
-- Copyright:	Attribution-NonCommercial-ShareAlike 2.5
-- Version:		SQL Server 2008
--
-- Default paths:	C:\temp
--
-- Default instances:	MSSQL$PROD1
--						SQLAGENT$PROD1
--
-- Lo scopo di questo script e' di dimostrare la gestione della ripresa
-- a freddo (restore) frammentata e la possibilita' di continuare ad
-- operare sui dati in questa fase.
-- 
-- Modificare i percorsi ed i nomi delle istanze sopra elencati
-- coerentemente con quelli della propria installazione.
--
-- Per la creazione del database fare riferimento agli script:
--
-- 02.creazione-salesdb.sql
-- 03.creazione-dati-salesdb.sql
--
-- Nota bene: questo script utilizza alcune estensioni per le quali e'
-- necessario attivare la modalita' SQLCMD nel Management Studio.
------------------------------------------------------------------------

------------------------------------------------------------------------
-- Cambiamo contesto.
------------------------------------------------------------------------
USE SalesDB
GO

------------------------------------------------------------------------
-- Impostiamo il livello di recovery a full.
------------------------------------------------------------------------
ALTER DATABASE SalesDB SET RECOVERY FULL
GO

------------------------------------------------------------------------
-- Impostiamo in sola lettura i filegroup di tutte le partizioni tranne
-- quello che contiene i dati piu' recenti che lasciano in lettura e
-- scrittura.
------------------------------------------------------------------------
ALTER DATABASE SalesDB SET SINGLE_USER WITH ROLLBACK IMMEDIATE
ALTER DATABASE SalesDB MODIFY FILEGROUP OrdersFG01 READ_ONLY
ALTER DATABASE SalesDB MODIFY FILEGROUP OrdersFG02 READ_ONLY
ALTER DATABASE SalesDB MODIFY FILEGROUP OrdersFG03 READ_ONLY
ALTER DATABASE SalesDB MODIFY FILEGROUP OrdersFG04 READ_ONLY
ALTER DATABASE SalesDB MODIFY FILEGROUP OrdersFG05 READ_ONLY
ALTER DATABASE SalesDB MODIFY FILEGROUP OrdersFG06 READ_ONLY
ALTER DATABASE SalesDB MODIFY FILEGROUP OrdersFG07 READ_ONLY
ALTER DATABASE SalesDB MODIFY FILEGROUP OrdersFG08 READ_ONLY
ALTER DATABASE SalesDB MODIFY FILEGROUP OrdersFG09 READ_ONLY
ALTER DATABASE SalesDB MODIFY FILEGROUP OrdersFG10 READ_ONLY
ALTER DATABASE SalesDB MODIFY FILEGROUP OrdersFG11 READ_ONLY
ALTER DATABASE SalesDB MODIFY FILEGROUP OrdersFG12 READ_ONLY
ALTER DATABASE SalesDB MODIFY FILEGROUP OrdersFG13 READ_ONLY
ALTER DATABASE SalesDB MODIFY FILEGROUP OrdersFG14 READ_ONLY
ALTER DATABASE SalesDB MODIFY FILEGROUP OrdersFG15 READ_ONLY
ALTER DATABASE SalesDB MODIFY FILEGROUP OrdersFG16 READ_ONLY
ALTER DATABASE SalesDB MODIFY FILEGROUP OrdersFG17 READ_ONLY
ALTER DATABASE SalesDB MODIFY FILEGROUP OrdersFG18 READ_ONLY
ALTER DATABASE SalesDB MODIFY FILEGROUP OrdersFG19 READ_ONLY
ALTER DATABASE SalesDB MODIFY FILEGROUP OrdersFG20 READ_ONLY
ALTER DATABASE SalesDB MODIFY FILEGROUP OrdersFG21 READ_ONLY
ALTER DATABASE SalesDB MODIFY FILEGROUP OrdersFG22 READ_ONLY
ALTER DATABASE SalesDB MODIFY FILEGROUP OrdersFG23 READ_ONLY
-- ALTER DATABASE SalesDB MODIFY FILEGROUP OrdersFG24 READ_WRITE
ALTER DATABASE SalesDB SET MULTI_USER
GO

------------------------------------------------------------------------
-- Eseguiamo un backup completo del database.
------------------------------------------------------------------------
BACKUP	DATABASE SalesDB
TO	DISK = 'c:\temp\SalesDB-full.bak'
WITH	INIT, STATS = 10
GO

------------------------------------------------------------------------
-- Comando da utilizzare per ripristinare l'intero database per fare
-- ripartire la dimostrazione
-- RESTORE DATABASE SalesDB FROM DISK = 'c:\temp\SalesDB-full.bak' WITH REPLACE
------------------------------------------------------------------------
GO

------------------------------------------------------------------------
-- Scenario 1
--
-- Il file SalesDB_FG04_FN03.ndf (read only) viene danneggiato quando
-- l'istanza riparte ed il suo stato e' "offline" (per simulare questo
-- scenario fermiamo il servizio, cancelliamo il file e facciamo
-- ripartire il servizio).
------------------------------------------------------------------------
!! NET STOP SQLSERVERAGENT
!! NET STOP MSSQLSERVER
!! DEL "D:\SQLServer\MSSQL11.MSSQLSERVER\MSSQL\DATA\SalesDB_OrdersFG04_FN03.ndf"
!! NET START MSSQLSERVER
!! NET START SQLSERVERAGENT

------------------------------------------------------------------------
-- Proviamo ad utilizzare il database...
-- (eseguire due volte, il primo errore e' dovuto alla perdita di
-- connettivita').
------------------------------------------------------------------------
USE SalesDB
GO

------------------------------------------------------------------------
-- ... Non possiamo perche' non e' accessibile, vediamo in che stato si
-- trova interrogando il catalogo di sistema.
------------------------------------------------------------------------
SELECT name, state_desc FROM sys.databases
GO

------------------------------------------------------------------------
-- Il database si trova in stato di "recovery pending" perche' il
-- processo di recovery (ripresa a caldo) non ha potuto riportarlo in
-- linea a causa del file mancante.
------------------------------------------------------------------------

------------------------------------------------------------------------
-- Modifichiamo lo stato del file e mettiamolo offline.
------------------------------------------------------------------------
ALTER DATABASE SalesDB
MODIFY FILE ( NAME = 'SalesDB_OrdersFG04_FN03', OFFLINE )
GO

------------------------------------------------------------------------
-- Riportiamo, poi, il database online.
------------------------------------------------------------------------
ALTER DATABASE SalesDB SET ONLINE
GO

------------------------------------------------------------------------
-- Ora possiamo usarlo.
------------------------------------------------------------------------
USE SalesDB
GO

------------------------------------------------------------------------
-- Verifichiamo lo stato dei file (quello cancellato e' offline)
------------------------------------------------------------------------
SELECT physical_name, state_desc FROM sys.database_files
GO

------------------------------------------------------------------------
-- Possiamo comunque accedere ai dati nelle altre partizioni.
------------------------------------------------------------------------
SELECT	COUNT(*)
FROM	dbo.Orders AS O1
WHERE	O1.OrderDate BETWEEN '2005-02-01' AND '2005-03-01'
GO

------------------------------------------------------------------------
-- Ma non possiamo accedere ai dati della partizione per la quale
-- abbiamo cancellato il file.
------------------------------------------------------------------------
SELECT	COUNT(*)
FROM	dbo.Orders AS O1
WHERE	O1.OrderDate BETWEEN '2005-04-01' AND '2005-04-30'
GO

------------------------------------------------------------------------
-- Cambiamo il contesto (necessario per eseguire la ripresa a freddo).
------------------------------------------------------------------------
USE master
GO

------------------------------------------------------------------------
-- Effetuiamo un ripristino a freddo online del file danneggiato.
------------------------------------------------------------------------
RESTORE DATABASE SalesDB
FILE = 'SalesDB_OrdersFG04_FN03'
FROM DISK = 'c:\temp\SalesDB-full.bak'
WITH RECOVERY
GO

------------------------------------------------------------------------
-- !!! Possiamo specificare direttamente di fare la ripresa a caldo
-- (recovery) perche' il file era in sola lettura quando e' stato fatto
-- il backup, ed era in sola lettura quando si e' danneggiato, quindi
-- non puo' essere stato modificato nel frattempo.
------------------------------------------------------------------------

------------------------------------------------------------------------
-- Cambiamo contesto.
------------------------------------------------------------------------
USE SalesDB
GO

------------------------------------------------------------------------
-- Verifichiamo che il file sia online.
------------------------------------------------------------------------
SELECT physical_name, state_desc, is_read_only FROM sys.database_files
GO

------------------------------------------------------------------------
-- Scenario 2
--
-- Il file SalesDB_FG24_FN01.ndf (lettura/scrittura) si danneggia quando
-- l'istanza riparte ed il suo stato e' "offline" (per simulare questo
-- scenario fermiamo il servizio, cancelliamo il file e facciamo
-- ripartire il servizio). In questo scenario, inoltre, verifichiamo che
-- alcune modifiche apportate ai dati della partizione in lettura e
-- scrittura, sono ripristinabili.
------------------------------------------------------------------------

------------------------------------------------------------------------
-- Cambiamo il contesto.
------------------------------------------------------------------------
USE SalesDB
GO

------------------------------------------------------------------------
-- Verifichiamo il filler per l'ordine con codice 999327 (a).
------------------------------------------------------------------------
SELECT * FROM dbo.Orders WHERE OrderID = 999770
GO

------------------------------------------------------------------------
-- Eseguiamo una transazione per aggiornare il filler
------------------------------------------------------------------------
BEGIN TRANSACTION

UPDATE	dbo.Orders
SET	Filler = 'bbbb'
WHERE	OrderID = 999770;

COMMIT TRANSACTION
GO

------------------------------------------------------------------------
-- Verifichiamo che la modifica sia stata eseguita.
------------------------------------------------------------------------
SELECT * FROM dbo.Orders WHERE OrderID = 999770
GO

------------------------------------------------------------------------
-- Simuliamo ora un guasto e la perdita di uno dei file del filegroup
-- che contiene la partizione con i dati che abbiamo modificato.
------------------------------------------------------------------------
!! NET STOP SQLSERVERAGENT
!! NET STOP MSSQLSERVER
!! DEL "D:\SQLServer\MSSQL11.MSSQLSERVER\MSSQL\DATA\SalesDB_OrdersFG24_FN01.ndf"
!! NET START MSSQLSERVER
!! NET START SQLSERVERAGENT

------------------------------------------------------------------------
-- Verifichiamo che il database sia in stato di recovery (eseguire due
-- volte, il primo errore e' sempre dovuto alla perdita di
-- connettivita').
------------------------------------------------------------------------
SELECT name, state_desc FROM sys.databases
GO

------------------------------------------------------------------------
-- Modifichiamo lo stato del file e mettiamolo offline.
------------------------------------------------------------------------
ALTER DATABASE SalesDB
MODIFY FILE ( NAME = 'SalesDB_OrdersFG24_FN01', OFFLINE )
GO

------------------------------------------------------------------------
-- Poi riportiamo il database online.
------------------------------------------------------------------------
ALTER DATABASE SalesDB SET ONLINE
GO

------------------------------------------------------------------------
-- Cambiamo il contesto.
------------------------------------------------------------------------
USE SalesDB
GO

------------------------------------------------------------------------
-- Verifichiamo lo stato dei file (quello cancellato e' offline).
------------------------------------------------------------------------
SELECT physical_name, state_desc FROM sys.database_files
GO

------------------------------------------------------------------------
-- I dati di quella partizione non sono disponibili.
------------------------------------------------------------------------
SELECT * FROM dbo.Orders WHERE OrderID = 999770
GO

------------------------------------------------------------------------
-- Mentre i dati nelle altre partizioni lo sono.
------------------------------------------------------------------------
SELECT	COUNT(*)
FROM	dbo.Orders AS O1
WHERE	O1.OrderDate BETWEEN '2005-02-01' AND '2005-03-01'
GO

------------------------------------------------------------------------
-- Per poter eseguire la ripresa a freddo del file, dobbiamo prima
-- eseguire un backup del transaction log perche' contiene le modifiche
-- che abbiamo fatto al file e sono necessarie per riportare in linea il
-- database (in gerco si dice prendere la coda del log).
------------------------------------------------------------------------
BACKUP	LOG SalesDB
TO	DISK = 'c:\temp\SalesDB-log-tail.bak'
WITH	COPY_ONLY, INIT, STATS = 10
GO

------------------------------------------------------------------------
-- Cambiamo il contesto.
------------------------------------------------------------------------
USE master
GO

------------------------------------------------------------------------
-- Eseguiamo un ripristino a freddo online del file danneggiato (gli
-- altri filegroup rimangono disponibili) specificando NORECOVERY questa
-- volta perche' non possiamo ancora riportare il file online.
------------------------------------------------------------------------
RESTORE DATABASE SalesDB
FILE = 'SalesDB_OrdersFG24_FN01'
FROM DISK = 'c:\temp\SalesDB-full.bak'
WITH NORECOVERY
GO

------------------------------------------------------------------------
-- Cambiamo il contesto.
------------------------------------------------------------------------
USE SalesDB
GO

------------------------------------------------------------------------
-- Verifichiamo lo stato dei file (quello cancellato e' ora restoring).
------------------------------------------------------------------------
SELECT physical_name, state_desc FROM sys.database_files
GO

------------------------------------------------------------------------
-- I dati nelle altre partizioni sono comunque disponibili anche durante
-- la ripresa a freddo.
------------------------------------------------------------------------
SELECT	COUNT(*)
FROM	dbo.Orders AS O1
WHERE	O1.OrderDate BETWEEN '2005-02-01' AND '2005-03-01'
GO

------------------------------------------------------------------------
-- Cambiamo il contesto.
------------------------------------------------------------------------
USE master
GO

------------------------------------------------------------------------
-- Eseguiamo una ripresa a freddo della coda del log contenente le
-- transazioni che servono per riportare online il file (SQL Server
-- estrae automaticamente solo quelle relative al file che stiamo
-- ripristinando) e questa volta specifichiamo di riportalo in linea
-- automaticamente (WITH RECOVERY)
RESTORE	LOG SalesDB
FROM	DISK = 'c:\temp\SalesDB-log-tail.bak'
WITH	RECOVERY, STATS = 10
GO

------------------------------------------------------------------------
-- Cambiamo il contesto.
------------------------------------------------------------------------
USE SalesDB
GO

------------------------------------------------------------------------
-- Verifichiamo lo stato dei file (ora e' online).
------------------------------------------------------------------------
SELECT physical_name, state_desc FROM sys.database_files
GO

------------------------------------------------------------------------
-- Verifichiamo che la modifica che avevamo fatto sia effettivamente
-- stata ripristinata.
------------------------------------------------------------------------
SELECT * FROM dbo.Orders WHERE OrderID = 999770
GO

------------------------------------------------------------------------
-- Scenario 3
--
-- Il database e' completamente danneggiato, dobbiamo effettuare la
-- ripresa a freddo di tutto quanto. Possiamo iniziare la ripresa in
-- maniera frammentata dando accesso ai dati man mano che ripristiniamo
-- i filegroup.
------------------------------------------------------------------------

------------------------------------------------------------------------
-- Cambiamo il contesto.
------------------------------------------------------------------------
USE master
GO

------------------------------------------------------------------------
-- Simuliamo il disastro eliminando il database (i file vengono
-- cancellati automaticamente).
------------------------------------------------------------------------
DROP DATABASE SalesDB
GO

------------------------------------------------------------------------
-- Partiamo dalla ripresa a freddo del filegroup PRIMARY che e'
-- necessario per portare il database online (contiene tutti i metadati)
-- specificando WITH PARTIAL e NORECOVERY.
------------------------------------------------------------------------
RESTORE	DATABASE SalesDB
	FILEGROUP = 'PRIMARY'
	FROM DISK = 'c:\temp\SalesDB-full.bak'
WITH	PARTIAL, NORECOVERY
GO

------------------------------------------------------------------------
-- Effettuiamo anche la ripresa a freddo del transaction log.
------------------------------------------------------------------------
RESTORE LOG SalesDB
FROM	DISK = 'c:\temp\SalesDB-full.bak'
WITH	RECOVERY
GO

------------------------------------------------------------------------
-- Il database e' ora accessibile...
------------------------------------------------------------------------
USE SalesDB
GO

------------------------------------------------------------------------
-- ... anche se tutti i suoi file, tranne quelli che fanno capo al
-- filegroup primary, sono in stato di RECOVERY_PENDING.
------------------------------------------------------------------------
SELECT physical_name, state_desc FROM sys.database_files
GO

------------------------------------------------------------------------
-- Cambiamo contesto.
------------------------------------------------------------------------
USE master
GO

------------------------------------------------------------------------
-- Ora possiamo iniziare a fare la ripresa a freddo in modalita'
-- frammentata, cominciando dal filegroup che ospita i dati di default
------------------------------------------------------------------------
RESTORE DATABASE SalesDB
	FILEGROUP = 'DEFDATA'
FROM	DISK = 'c:\temp\SalesDB-full.bak'
WITH	NORECOVERY
GO

------------------------------------------------------------------------
-- Eseguire sempre anche la ripresa a freddo del transaction log.
------------------------------------------------------------------------
RESTORE	LOG SalesDB
FROM	DISK = 'c:\temp\SalesDB-full.bak'
WITH	RECOVERY
GO

------------------------------------------------------------------------
-- ripristiniamo anche quello che ospita la tabella dei clienti.
------------------------------------------------------------------------
RESTORE DATABASE SalesDB
	FILEGROUP = 'CUSTOMERS'
FROM	DISK = 'c:\temp\SalesDB-full.bak'
WITH	NORECOVERY
GO

------------------------------------------------------------------------
-- Eseguire sempre anche la ripresa a freddo del transaction log.
------------------------------------------------------------------------
RESTORE	LOG SalesDB
FROM	DISK = 'c:\temp\SalesDB-full.bak'
WITH	RECOVERY
GO

------------------------------------------------------------------------
-- Cambiamo il contesto.
------------------------------------------------------------------------
USE SalesDB
GO

------------------------------------------------------------------------
-- Verifichiamo lo stato dei file.
------------------------------------------------------------------------
SELECT physical_name, state_desc FROM sys.database_files
GO

------------------------------------------------------------------------
-- Adesso gli utenti possono iniziare a lavorare con i dati relativi ai
-- clienti ed alle altre tabelle nel filegroup di default
------------------------------------------------------------------------
SELECT TOP 50 * FROM dbo.Customers
SELECT TOP 50 * FROM dbo.Employees
SELECT TOP 50 * FROM dbo.Shippers
GO

------------------------------------------------------------------------
-- ...anche se i dati relativi agli ordini non sono ancora disponibili.
------------------------------------------------------------------------
SELECT * FROM dbo.Orders WHERE OrderID = 999770
GO

------------------------------------------------------------------------
-- Cambiamo contesto.
------------------------------------------------------------------------
USE master
GO

------------------------------------------------------------------------
-- Ora effettuiamo la ripresa a freddo del filegroup con la partizione
-- che contiene i dati piu' recenti in lettura e scrittura.
------------------------------------------------------------------------
RESTORE DATABASE SalesDB
FILEGROUP = 'OrdersFG24'
FROM DISK = 'c:\temp\SalesDB-full.bak'
WITH NORECOVERY
GO

------------------------------------------------------------------------
-- Dobbiamo sempre fare la ripresa a freddo del transaction log.
------------------------------------------------------------------------
RESTORE LOG SalesDB
FROM DISK = 'c:\temp\SalesDB-full.bak'
WITH RECOVERY
GO

------------------------------------------------------------------------
-- Cambiamo il contesto
------------------------------------------------------------------------
USE SalesDB
GO

------------------------------------------------------------------------
-- Verifichiamo lo stato dei file.
------------------------------------------------------------------------
SELECT physical_name, state_desc FROM sys.database_files
GO

------------------------------------------------------------------------
-- La partizione puo' essere utilizzata in lettura/scrittura, gli utenti
-- possono iniziare a lavorare anche con gli ordini.
------------------------------------------------------------------------
BEGIN TRANSACTION

UPDATE	dbo.Orders
SET	Filler = 'bbbb'
WHERE	OrderDate = '20061210'
  AND	OrderID = 999770;

COMMIT TRANSACTION
GO

------------------------------------------------------------------------
-- Verifichiamo che la modifica sia stata fatta.
------------------------------------------------------------------------
SELECT * FROM dbo.Orders WHERE OrderDate = '20061210' AND OrderID = 999770
GO

------------------------------------------------------------------------
-- Cambiamo il contesto.
------------------------------------------------------------------------
USE master
GO

------------------------------------------------------------------------
-- A questo punto ripristiniamo tutte le altre partizioni con lo storico
-- degli ordini.
------------------------------------------------------------------------
RESTORE DATABASE SalesDB FILEGROUP = 'OrdersFG23' FROM DISK = 'c:\temp\SalesDB-full.bak' WITH NORECOVERY
RESTORE LOG SalesDB FROM DISK = 'c:\temp\SalesDB-full.bak' WITH RECOVERY
GO
RESTORE DATABASE SalesDB FILEGROUP = 'OrdersFG22' FROM DISK = 'c:\temp\SalesDB-full.bak' WITH NORECOVERY
RESTORE LOG SalesDB FROM DISK = 'c:\temp\SalesDB-full.bak' WITH RECOVERY
GO
RESTORE DATABASE SalesDB FILEGROUP = 'OrdersFG21' FROM DISK = 'c:\temp\SalesDB-full.bak' WITH NORECOVERY
RESTORE LOG SalesDB FROM DISK = 'c:\temp\SalesDB-full.bak' WITH RECOVERY
GO
RESTORE DATABASE SalesDB FILEGROUP = 'OrdersFG20' FROM DISK = 'c:\temp\SalesDB-full.bak' WITH NORECOVERY
RESTORE LOG SalesDB FROM DISK = 'c:\temp\SalesDB-full.bak' WITH RECOVERY
GO
RESTORE DATABASE SalesDB FILEGROUP = 'OrdersFG19' FROM DISK = 'c:\temp\SalesDB-full.bak' WITH NORECOVERY
RESTORE LOG SalesDB FROM DISK = 'c:\temp\SalesDB-full.bak' WITH RECOVERY
GO
RESTORE DATABASE SalesDB FILEGROUP = 'OrdersFG18' FROM DISK = 'c:\temp\SalesDB-full.bak' WITH NORECOVERY
RESTORE LOG SalesDB FROM DISK = 'c:\temp\SalesDB-full.bak' WITH RECOVERY
GO
RESTORE DATABASE SalesDB FILEGROUP = 'OrdersFG17' FROM DISK = 'c:\temp\SalesDB-full.bak' WITH NORECOVERY
RESTORE LOG SalesDB FROM DISK = 'c:\temp\SalesDB-full.bak' WITH RECOVERY
GO
RESTORE DATABASE SalesDB FILEGROUP = 'OrdersFG16' FROM DISK = 'c:\temp\SalesDB-full.bak' WITH NORECOVERY
RESTORE LOG SalesDB FROM DISK = 'c:\temp\SalesDB-full.bak' WITH RECOVERY
GO
RESTORE DATABASE SalesDB FILEGROUP = 'OrdersFG15' FROM DISK = 'c:\temp\SalesDB-full.bak' WITH NORECOVERY
RESTORE LOG SalesDB FROM DISK = 'c:\temp\SalesDB-full.bak' WITH RECOVERY
GO
RESTORE DATABASE SalesDB FILEGROUP = 'OrdersFG14' FROM DISK = 'c:\temp\SalesDB-full.bak' WITH NORECOVERY
RESTORE LOG SalesDB FROM DISK = 'c:\temp\SalesDB-full.bak' WITH RECOVERY
GO
RESTORE DATABASE SalesDB FILEGROUP = 'OrdersFG13' FROM DISK = 'c:\temp\SalesDB-full.bak' WITH NORECOVERY
RESTORE LOG SalesDB FROM DISK = 'c:\temp\SalesDB-full.bak' WITH RECOVERY
GO
RESTORE DATABASE SalesDB FILEGROUP = 'OrdersFG12' FROM DISK = 'c:\temp\SalesDB-full.bak' WITH NORECOVERY
RESTORE LOG SalesDB FROM DISK = 'c:\temp\SalesDB-full.bak' WITH RECOVERY
GO
RESTORE DATABASE SalesDB FILEGROUP = 'OrdersFG11' FROM DISK = 'c:\temp\SalesDB-full.bak' WITH NORECOVERY
RESTORE LOG SalesDB FROM DISK = 'c:\temp\SalesDB-full.bak' WITH RECOVERY
GO
RESTORE DATABASE SalesDB FILEGROUP = 'OrdersFG10' FROM DISK = 'c:\temp\SalesDB-full.bak' WITH NORECOVERY
RESTORE LOG SalesDB FROM DISK = 'c:\temp\SalesDB-full.bak' WITH RECOVERY
GO
RESTORE DATABASE SalesDB FILEGROUP = 'OrdersFG09' FROM DISK = 'c:\temp\SalesDB-full.bak' WITH NORECOVERY
RESTORE LOG SalesDB FROM DISK = 'c:\temp\SalesDB-full.bak' WITH RECOVERY
GO
RESTORE DATABASE SalesDB FILEGROUP = 'OrdersFG08' FROM DISK = 'c:\temp\SalesDB-full.bak' WITH NORECOVERY
RESTORE LOG SalesDB FROM DISK = 'c:\temp\SalesDB-full.bak' WITH RECOVERY
GO
RESTORE DATABASE SalesDB FILEGROUP = 'OrdersFG07' FROM DISK = 'c:\temp\SalesDB-full.bak' WITH NORECOVERY
RESTORE LOG SalesDB FROM DISK = 'c:\temp\SalesDB-full.bak' WITH RECOVERY
GO
RESTORE DATABASE SalesDB FILEGROUP = 'OrdersFG06' FROM DISK = 'c:\temp\SalesDB-full.bak' WITH NORECOVERY
RESTORE LOG SalesDB FROM DISK = 'c:\temp\SalesDB-full.bak' WITH RECOVERY
GO
RESTORE DATABASE SalesDB FILEGROUP = 'OrdersFG05' FROM DISK = 'c:\temp\SalesDB-full.bak' WITH NORECOVERY
RESTORE LOG SalesDB FROM DISK = 'c:\temp\SalesDB-full.bak' WITH RECOVERY
GO
RESTORE DATABASE SalesDB FILEGROUP = 'OrdersFG04' FROM DISK = 'c:\temp\SalesDB-full.bak' WITH NORECOVERY
RESTORE LOG SalesDB FROM DISK = 'c:\temp\SalesDB-full.bak' WITH RECOVERY
GO
RESTORE DATABASE SalesDB FILEGROUP = 'OrdersFG03' FROM DISK = 'c:\temp\SalesDB-full.bak' WITH NORECOVERY
RESTORE LOG SalesDB FROM DISK = 'c:\temp\SalesDB-full.bak' WITH RECOVERY
GO
RESTORE DATABASE SalesDB FILEGROUP = 'OrdersFG02' FROM DISK = 'c:\temp\SalesDB-full.bak' WITH NORECOVERY
RESTORE LOG SalesDB FROM DISK = 'c:\temp\SalesDB-full.bak' WITH RECOVERY
GO
RESTORE DATABASE SalesDB FILEGROUP = 'OrdersFG01' FROM DISK = 'c:\temp\SalesDB-full.bak' WITH NORECOVERY
RESTORE LOG SalesDB FROM DISK = 'c:\temp\SalesDB-full.bak' WITH RECOVERY
GO

------------------------------------------------------------------------
-- Cambiamo contesto.
------------------------------------------------------------------------
USE SalesDB
GO

------------------------------------------------------------------------
-- Verifichiamo lo stato dei file.
------------------------------------------------------------------------
SELECT physical_name, state_desc FROM sys.database_files
GO
