/*
** This script is used to demonstrate the
** new online restore functionalities in
** SQL Server 2005
**
** This is the first script to create the database
**
** To customize the script set the specific variables
**
** Please note that it uses specific sqmcmd script
** capabilities so be sure to enable SQLCMD Mode in SSMS
*/
:setvar DBDATADIR C:\MSSQL\DBADEMO1\MSSQL.1\MSSQL\Data
:setvar DBLOGDIR C:\MSSQL\DBADEMO1\MSSQL.1\MSSQL\Data

USE master
GO

-- drop database if it already exists
IF EXISTS(SELECT * FROM sys.databases WHERE name = 'SalesDB')
	DROP DATABASE SalesDB
GO

-- creates database with just primary and log files
CREATE DATABASE SalesDB
ON PRIMARY (
	NAME		= 'SalesDB_mdf'
,	FILENAME	= '$(DBLOGDIR)\SalesDB.mdf'
,	SIZE		= 10MB
,	MAXSIZE		= 100MB
,	FILEGROWTH	= 10MB
)
LOG ON (
	NAME		= 'SalesDB_log'
,	FILENAME	= '$(DBLOGDIR)\SalesDB.ldf'
,	SIZE		= 10MB
,	MAXSIZE		= 50MB
,	FILEGROWTH	= 10MB
)
GO

-- add a filegroup for all tables except the partitioned ones
ALTER DATABASE	SalesDB
ADD FILEGROUP	DATADEF
GO

-- add files to filegroup
ALTER DATABASE	SalesDB
ADD FILE (
	NAME		= 'SalesDB_datadef'
,	FILENAME	= '$(DBDATADIR)\SalesDB_datadef.mdf'
,	SIZE		= 10MB
,	MAXSIZE		= 100MB
,	FILEGROWTH	= 10MB
)
TO FILEGROUP DATADEF
GO

