/*
** This script is used to demonstrate some new
** functionalities in SQL Server 2005 Management Studio
**
*/

-- change database context
USE Adventureworks;
GO

-- simple select and XML editor hook
SELECT TOP 5 * FROM Sales.Store;
GO

-- integrated help and dinamic help
CREATE TABLE

-- Graphical showplan (activate it in SSMS)
EXEC	dbo.uspGetBillOfMaterials
		@StartProductID = 3
,		@CheckDate = '2001-01-01';
GO

-- XML Showplan (save as to *.sqlplan)
SET SHOWPLAN_XML ON;
GO

EXEC	dbo.uspGetBillOfMaterials
		@StartProductID = 3
,		@CheckDate = '2001-01-01';
GO

SET SHOWPLAN_XML OFF;
GO

-- Client Statistics (activate it in SSMS)
SELECT * FROM Sales.Store WHERE SalesPersonID = 282;
GO
