/*
** This script is used to demonstrate the
** new database snapshot functionalities in
** SQL Server 2005
*/

USE AdventureWorks;
GO

-- cleanup
UPDATE	Person.Contact
SET		Phone = '398-555-0132'
WHERE	ContactID = 1;
GO

-- create a first snapshot of AdventureWorks database
-- (please note that a snapshot file must be specified for ALL source files)
CREATE DATABASE	AdventureWorks_MorningSnap
ON
(	NAME = 'AdventureWorks_Data', FILENAME	= 'c:\demos\backups\AdventureWorks_Data_MorningSnap.snp')
AS SNAPSHOT OF AdventureWorks
GO

-- verify the data
SELECT	'Current' AS Source,ContactID,	FirstName, LastName, Phone
FROM	AdventureWorks.Person.Contact WHERE	ContactID = 1
UNION
SELECT	'Morning Snapshot' AS Source,ContactID,	FirstName, LastName, Phone
FROM	AdventureWorks_MorningSnap.Person.Contact WHERE	ContactID = 1
GO

-- in the afternoon someone updates a record in the source database
UPDATE	Person.Contact
SET		Phone = '999-999-9999'		-- original was 398-555-0132
WHERE	ContactID = 1;
GO

-- verify the data, the updates is visible only in the source database
SELECT	'Current' AS Source,ContactID,	FirstName, LastName, Phone
FROM	AdventureWorks.Person.Contact WHERE	ContactID = 1
UNION
SELECT	'Morning Snapshot' AS Source,ContactID,	FirstName, LastName, Phone
FROM	AdventureWorks_MorningSnap.Person.Contact WHERE	ContactID = 1
GO

-- in late afternoon a batch update has to be done
-- since this is a critical task we take another snapshot
-- of the database
CREATE DATABASE	AdventureWorks_AfternoonSnap
ON
(	NAME = 'AdventureWorks_Data', FILENAME	= 'c:\demos\backups\AdventureWorks_Data_AfternoonSnap.snp')
AS SNAPSHOT OF AdventureWorks
GO

-- before the batch starts, someone updates again the contact information
UPDATE	Person.Contact
SET		Phone = '444-444-4444'
WHERE	ContactID = 1;
GO

-- verify the data
SELECT	'Current' AS Source,ContactID,	FirstName, LastName, Phone
FROM	AdventureWorks.Person.Contact WHERE	ContactID = 1
UNION
SELECT	'Morning Snapshot' AS Source,ContactID,	FirstName, LastName, Phone
FROM	AdventureWorks_MorningSnap.Person.Contact WHERE	ContactID = 1
UNION
SELECT	'Afternoon Snapshot' AS Source,ContactID,	FirstName, LastName, Phone
FROM	AdventureWorks_AfternoonSnap.Person.Contact WHERE	ContactID = 1
GO

-- finally the batch update is done, but the where clause is
-- left out by mistake...
UPDATE	Person.Contact
SET		Phone = 'XXX-XXX-XXXX'		-- original was 398-555-0132
GO

-- we decide to revert to the afternoon snapshot but first we
-- must drop all other snapshots
DROP DATABASE AdventureWorks_MorningSnap
GO

-- then we have to change db context
USE master
GO

-- and finally we can revert to the snapshot
RESTORE DATABASE AdventureWorks
FROM DATABASE_SNAPSHOT = 'AdventureWorks_AfternoonSnap'
GO

-- verify the data, now the original is at the same point in time
-- and of course we lost the transaction that was made after we
-- took the snapshot
SELECT	'Current' AS Source,ContactID,	FirstName, LastName, Phone
FROM	AdventureWorks.Person.Contact WHERE	ContactID = 1
UNION
SELECT	'Afternoon Snapshot' AS Source,ContactID,	FirstName, LastName, Phone
FROM	AdventureWorks_AfternoonSnap.Person.Contact WHERE	ContactID = 1
GO

-- remove the afternoon snapshot
DROP DATABASE AdventureWorks_AfternoonSnap
GO

-- cleanup
UPDATE	AdventureWorks.Person.Contact
SET		Phone = '398-555-0132'
WHERE	ContactID = 1;
GO