/*
** This script is used to demonstrate the
** new online restore functionalities in
** SQL Server 2005
**
** This is the third script used to create the
** partitioned tables, load them and add constraints
**
*/

USE SalesDB
GO

-- set recovery model to simple
ALTER DATABASE SalesDB SET RECOVERY SIMPLE
GO

IF EXISTS(
	SELECT	*
	FROM	INFORMATION_SCHEMA.TABLES
	WHERE	TABLE_TYPE = 'BASE TABLE'
	  AND	TABLE_SCHEMA = 'dbo'
	  AND	TABLE_NAME = 'OrderDetails'
)
	DROP TABLE dbo.OrderDetails
GO

IF EXISTS(
	SELECT	*
	FROM	INFORMATION_SCHEMA.TABLES
	WHERE	TABLE_TYPE = 'BASE TABLE'
	  AND	TABLE_SCHEMA = 'dbo'
	  AND	TABLE_NAME = 'Orders'
)
	DROP TABLE dbo.Orders
GO

IF EXISTS(
	SELECT	*
	FROM	INFORMATION_SCHEMA.TABLES
	WHERE	TABLE_TYPE = 'BASE TABLE'
	  AND	TABLE_SCHEMA = 'dbo'
	  AND	TABLE_NAME = 'Customer'
)
	DROP TABLE dbo.Customer
GO

-- create non partitioned table
CREATE TABLE dbo.Customer
(
	CustomerID		int			NOT NULL
,	TerritoryID		int			NULL
,	CustomerType	nchar(1)	NOT NULL
,	ModifiedDate	datetime	NOT NULL

,	CONSTRAINT		PK_Customer_CustomerID
	PRIMARY KEY		(CustomerID)
	ON DATADEF
) ON DATADEF
GO

-- insert test data from Adventureworks
INSERT	dbo.Customer
SELECT	CustomerID
,		TerritoryID
,		CustomerType
,		ModifiedDate
FROM	AdventureWorks.Sales.Customer
GO


-- create partitioned tables
CREATE TABLE dbo.Orders  
(
	OrderID			int			NOT NULL
,	EmployeeID		int			NULL
,	VendorID		int			NULL
,	TaxAmt			money		NULL
,	Freight			money		NULL
,	SubTotal		money		NULL
,	Status			tinyint		NOT NULL
,	RevisionNumber	tinyint		NULL
,	ModifiedDate	datetime	NULL
,	ShipMethodID	tinyint		NULL
,	ShipDate		datetime	NOT NULL
,	OrderDate		datetime	NOT NULL
,	TotalDue		money		NULL

,	CONSTRAINT		OrdersRangeYearCK
	CHECK			(OrderDate >= '20021001' 
						AND OrderDate < '20041001')

) ON TwoYearDateRangePScheme(OrderDate)
GO

CREATE TABLE dbo.OrderDetails(
	OrderID			int			NOT NULL
,	LineNumber		smallint	NOT NULL
,	ProductID		int			NULL
,	UnitPrice		money		NULL
,	OrderQty		smallint	NULL
,	ReceivedQty		float		NULL
,	RejectedQty		float		NULL
,	OrderDate		datetime	NOT NULL
,	DueDate			datetime	NULL
,	ModifiedDate	datetime	NOT NULL
,	LineTotal		AS ((UnitPrice*OrderQty))
,	StockedQty		AS ((ReceivedQty-RejectedQty))

,	CONSTRAINT		OrderDetailsRangeYearCK
	CHECK			(OrderDate >= '20021001' 
						AND OrderDate < '20041001')

) ON TwoYearDateRangePScheme(OrderDate)
GO

-- insert test data from Adventureworks
INSERT	dbo.Orders
SELECT
		O.PurchaseOrderID 
,		O.EmployeeID
,		O.VendorID
,		O.TaxAmt
,		O.Freight 
,		O.SubTotal 
,		O.Status 
,		O.RevisionNumber 
,		O.ModifiedDate 
,		O.ShipMethodID 
,		O.ShipDate 
,		O.OrderDate 
,		O.TotalDue 
FROM	AdventureWorks.Purchasing.PurchaseOrderHeader AS O
WHERE	O.OrderDate >= '20021001' AND O.OrderDate < '20041001'

INSERT dbO.OrderDetails
SELECT
		OD.PurchaseOrderID
,		OD.PurchaseOrderDetailID
,		OD.ProductID
,		OD.UnitPrice
,		OD.OrderQty
,		OD.ReceivedQty
,		OD.RejectedQty
,		O.OrderDate
,		OD.DueDate
,		OD.ModifiedDate
FROM	AdventureWorks.Purchasing.PurchaseOrderDetail AS OD
JOIN	AdventureWorks.Purchasing.PurchaseOrderHeader AS O
  ON	O.PurchaseOrderID = OD.PurchaseOrderID
WHERE	O.OrderDate >= '20021001' AND O.OrderDate < '20041001'
GO

-- create primary keys for the partitioned tables
ALTER TABLE Orders ADD
CONSTRAINT	OrdersPK
PRIMARY KEY CLUSTERED (OrderDate, OrderID)
ON TwoYearDateRangePScheme(OrderDate)
GO

ALTER TABLE dbo.OrderDetails ADD
CONSTRAINT OrderDetailsPK
PRIMARY KEY CLUSTERED (OrderDate, OrderID, LineNumber)
	ON TwoYearDateRangePScheme(OrderDate)
GO

-- create foreign key constraint
ALTER TABLE dbo.OrderDetails ADD
CONSTRAINT	OrderDetailsToOrdersFK
FOREIGN KEY (OrderDate, OrderID)
REFERENCES	dbo.Orders (OrderDate, OrderID)
GO

