/*
** This script is used to demonstrate the
** new online restore functionalities in
** SQL Server 2005
**
** This is the fifth script used to simulate
** loosing and restoring some files as well
** as loosing the entire database and doing
** a piecemeal restore
**
** To customize the script search and replace:
** following paths/instances:
**
** Instance name: $DBADEMO11 for services
** path C:\MSSQL\DBADEMO1\MSSQL.1\MSSQL\Data\ for database files
**
** Please note that it uses specific sqmcmd script
** capabilities so be sure to enable SQLCMD Mode in SSMS
*/


-- change database context
USE SalesDB
GO

-- modify recovery level
ALTER DATABASE SalesDB SET RECOVERY FULL
GO

-- take a full backup (for read only files)
BACKUP DATABASE SalesDB TO DISK = 'SalesDB-full.bak' WITH INIT
GO

-- to restart the demo quickly use this command to restore it completely
-- RESTORE DATABASE SalesDB FROM DISK = 'SalesDB-full.bak' WITH REPLACE
GO

/*
** Scenario 1:
**
** The SalesDB_FG04_FN03.ndf (read only) is damaged when the instance
** restarts and it's state is offline (to simulate it stop the service,
** delete the file and restart the service)
*/
!! NET STOP SQLAGENT$DBADEMO1
!! NET STOP MSSQL$DBADEMO1
!! DEL C:\MSSQL\DBADEMO1\MSSQL.1\MSSQL\Data\SalesDB_FG04_FN03.ndf
!! NET START MSSQL$DBADEMO1
!! NET START SQLAGENT$DBADEMO1

-- try to change database context
USE SalesDB
GO

-- verify database is in recovery
SELECT name, state_desc FROM sys.databases
GO

-- the database is not accessible, we must take the damaged file off-line
ALTER DATABASE SalesDB MODIFY FILE ( NAME = 'SalesDB_FG04_FN03', OFFLINE )
GO

-- then we can immediately take the database online
ALTER DATABASE SalesDB SET ONLINE
GO

-- now change database context
USE SalesDB
GO

-- verify file/filegroup status (file is offline)
SELECT physical_name, state_desc FROM sys.database_files
GO

-- data in other partitions are still accessible
SELECT	COUNT(*)
FROM	dbo.OrderDetails AS MP
WHERE	OrderDate BETWEEN '2003-02-01' AND '2003-04-01'
GO

-- data in the partition belonging to the damaged file are not accessible
SELECT	COUNT(*)
FROM	dbo.OrderDetails AS MP
WHERE	OrderDate BETWEEN '2003-01-01' AND '2003-01-02'
GO

-- change database context (can't issue restore in same db)
USE master
GO

-- do and online restore of the damaged file
-- (data on other filegroups remains available)
RESTORE DATABASE SalesDB
FILE = 'SalesDB_FG04_FN03'
FROM DISK = 'SalesDB-full.bak'
WITH RECOVERY
GO

-- change database context
USE SalesDB
GO

-- verify file/filegroup status (now is online)
SELECT physical_name, state_desc, is_read_only FROM sys.database_files
GO

/*
** Scenario 2:
**
** The SalesDB_FG24_FN01.ndf (read write) is damaged when the instance
** restarts and it's state is offline (to simulate it stop the service,
** delete the file and restart the service)
*/

-- change database context
USE SalesDB
GO

-- verify an order quantity
SELECT * FROM dbo.OrderDetails WHERE OrderID = 4000

-- update quantity (data is on the read write filegroup)
BEGIN TRANSACTION

UPDATE	dbo.OrderDetails
SET		OrderQty = 4000
WHERE	OrderDate = '2004-09-03'
  AND	OrderID = 4000;

COMMIT TRANSACTION
GO

-- verify new order quantity
SELECT * FROM dbo.OrderDetails WHERE OrderID = 4000

-- simulate loss of file
!! NET STOP SQLAGENT$DBADEMO1
!! NET STOP MSSQL$DBADEMO1
!! DEL C:\MSSQL\DBADEMO1\MSSQL.1\MSSQL\Data\SalesDB_FG24_FN01.ndf
!! NET START MSSQL$DBADEMO1
!! NET START SQLAGENT$DBADEMO1

-- verify database is in recovery
SELECT name, state_desc FROM sys.databases
GO

-- take the file OFFLINE
ALTER DATABASE SalesDB MODIFY FILE ( NAME = 'SalesDB_FG24_FN01', OFFLINE )
GO

-- bring the database back ONLINE
ALTER DATABASE SalesDB SET ONLINE
GO

-- change database context
USE SalesDB
GO

-- verify file/filegroup status (file is offline)
SELECT physical_name, state_desc FROM sys.database_files
GO

-- data in that partition is not available
SELECT * FROM dbo.OrderDetails WHERE OrderID = 4000
GO

-- but data in other partitions is still available
SELECT	COUNT(*)
FROM	dbo.OrderDetails AS MP
WHERE	OrderDate BETWEEN '2003-02-01' AND '2003-04-01'
GO

-- before restoring we need to backup the log tail
BACKUP LOG SalesDB TO DISK = 'SalesDB-log-tail.bak' WITH COPY_ONLY, INIT
GO

-- change database context
USE master
GO

-- do and online restore of the damaged file
-- (data on other filegroups remains available)
RESTORE DATABASE SalesDB
FILE = 'SalesDB_FG24_FN01'
FROM DISK = 'SalesDB-full.bak'
WITH NORECOVERY
GO

-- change database context
USE SalesDB
GO

-- verify file/filegroup status (file is restoring)
SELECT physical_name, state_desc FROM sys.database_files
GO

-- change database context
USE master
GO

-- do and online restore of the transaction log
-- (data on other filegroups remains available)
RESTORE LOG SalesDB
FROM DISK = 'SalesDB-log-tail.bak'
WITH RECOVERY
GO

-- change database context
USE SalesDB
GO

-- verify file/filegroup status (file is online)
SELECT physical_name, state_desc FROM sys.database_files
GO

-- verify that the transaction has been restored from the log
SELECT * FROM dbo.OrderDetails WHERE OrderID = 4000
GO

/*
** Scenario 3:
**
** The database is completely damaged, it has to be fully restored,
** we start a piecemeal restore giving access to the various filegroups
*/
-- change database context
USE master
GO

-- drop the database
DROP DATABASE SalesDB
GO

-- restore primary filegroup (minumun to take database online)
RESTORE DATABASE SalesDB
FILEGROUP = 'PRIMARY'
FROM DISK = 'SalesDB-full.bak'
WITH PARTIAL, NORECOVERY
GO

-- restore transaction log
RESTORE LOG SalesDB
FROM DISK = 'SalesDB-full.bak'
WITH RECOVERY
GO

-- the database is now accessible
USE SalesDB
GO

-- verify file/filegroup status
SELECT physical_name, state_desc FROM sys.database_files
GO

-- change database context
USE master
GO

-- first restore the filegroup with customer data
RESTORE DATABASE SalesDB
FILEGROUP = 'DATADEF'
FROM DISK = 'SalesDB-full.bak'
WITH NORECOVERY
GO

-- restore transaction log
RESTORE LOG SalesDB
FROM DISK = 'SalesDB-full.bak'
WITH RECOVERY
GO

-- change database context
USE SalesDB
GO

-- verify file/filegroup status
SELECT physical_name, state_desc FROM sys.database_files
GO

-- now we can start querying the customer table
SELECT TOP 50 * FROM dbo.Customer
GO

-- but not other data
SELECT * FROM dbo.OrderDetails WHERE OrderID = 4000
GO

-- change database context
USE master
GO

-- first restore the read write filegroup
RESTORE DATABASE SalesDB
FILEGROUP = 'FG24'
FROM DISK = 'SalesDB-full.bak'
WITH NORECOVERY
GO

-- restore del transaction log
RESTORE LOG SalesDB
FROM DISK = 'SalesDB-full.bak'
WITH RECOVERY
GO

-- change database context
USE SalesDB
GO

-- verify file/filegroup status
SELECT physical_name, state_desc FROM sys.database_files
GO

-- the read write partition is now online and can be updated
BEGIN TRANSACTION

UPDATE	dbo.OrderDetails
SET		OrderQty = 4000
WHERE	OrderDate = '2004-09-03'
  AND	OrderID = 4000;

COMMIT TRANSACTION
GO

-- verify data modification
SELECT * FROM dbo.OrderDetails WHERE OrderDate = '2004-09-03' AND OrderID = 4000;
GO

-- change database context
USE master
GO

-- restore all other read only filegroups
RESTORE DATABASE SalesDB FILEGROUP = 'FG23' FROM DISK = 'SalesDB-full.bak' WITH NORECOVERY
RESTORE LOG SalesDB FROM DISK = 'SalesDB-full.bak' WITH RECOVERY
GO
RESTORE DATABASE SalesDB FILEGROUP = 'FG22' FROM DISK = 'SalesDB-full.bak' WITH NORECOVERY
RESTORE LOG SalesDB FROM DISK = 'SalesDB-full.bak' WITH RECOVERY
GO
RESTORE DATABASE SalesDB FILEGROUP = 'FG21' FROM DISK = 'SalesDB-full.bak' WITH NORECOVERY
RESTORE LOG SalesDB FROM DISK = 'SalesDB-full.bak' WITH RECOVERY
GO
RESTORE DATABASE SalesDB FILEGROUP = 'FG20' FROM DISK = 'SalesDB-full.bak' WITH NORECOVERY
RESTORE LOG SalesDB FROM DISK = 'SalesDB-full.bak' WITH RECOVERY
GO
RESTORE DATABASE SalesDB FILEGROUP = 'FG19' FROM DISK = 'SalesDB-full.bak' WITH NORECOVERY
RESTORE LOG SalesDB FROM DISK = 'SalesDB-full.bak' WITH RECOVERY
GO
RESTORE DATABASE SalesDB FILEGROUP = 'FG18' FROM DISK = 'SalesDB-full.bak' WITH NORECOVERY
RESTORE LOG SalesDB FROM DISK = 'SalesDB-full.bak' WITH RECOVERY
GO
RESTORE DATABASE SalesDB FILEGROUP = 'FG17' FROM DISK = 'SalesDB-full.bak' WITH NORECOVERY
RESTORE LOG SalesDB FROM DISK = 'SalesDB-full.bak' WITH RECOVERY
GO
RESTORE DATABASE SalesDB FILEGROUP = 'FG16' FROM DISK = 'SalesDB-full.bak' WITH NORECOVERY
RESTORE LOG SalesDB FROM DISK = 'SalesDB-full.bak' WITH RECOVERY
GO
RESTORE DATABASE SalesDB FILEGROUP = 'FG15' FROM DISK = 'SalesDB-full.bak' WITH NORECOVERY
RESTORE LOG SalesDB FROM DISK = 'SalesDB-full.bak' WITH RECOVERY
GO
RESTORE DATABASE SalesDB FILEGROUP = 'FG14' FROM DISK = 'SalesDB-full.bak' WITH NORECOVERY
RESTORE LOG SalesDB FROM DISK = 'SalesDB-full.bak' WITH RECOVERY
GO
RESTORE DATABASE SalesDB FILEGROUP = 'FG13' FROM DISK = 'SalesDB-full.bak' WITH NORECOVERY
RESTORE LOG SalesDB FROM DISK = 'SalesDB-full.bak' WITH RECOVERY
GO
RESTORE DATABASE SalesDB FILEGROUP = 'FG12' FROM DISK = 'SalesDB-full.bak' WITH NORECOVERY
RESTORE LOG SalesDB FROM DISK = 'SalesDB-full.bak' WITH RECOVERY
GO
RESTORE DATABASE SalesDB FILEGROUP = 'FG11' FROM DISK = 'SalesDB-full.bak' WITH NORECOVERY
RESTORE LOG SalesDB FROM DISK = 'SalesDB-full.bak' WITH RECOVERY
GO
RESTORE DATABASE SalesDB FILEGROUP = 'FG10' FROM DISK = 'SalesDB-full.bak' WITH NORECOVERY
RESTORE LOG SalesDB FROM DISK = 'SalesDB-full.bak' WITH RECOVERY
GO
RESTORE DATABASE SalesDB FILEGROUP = 'FG09' FROM DISK = 'SalesDB-full.bak' WITH NORECOVERY
RESTORE LOG SalesDB FROM DISK = 'SalesDB-full.bak' WITH RECOVERY
GO
RESTORE DATABASE SalesDB FILEGROUP = 'FG08' FROM DISK = 'SalesDB-full.bak' WITH NORECOVERY
RESTORE LOG SalesDB FROM DISK = 'SalesDB-full.bak' WITH RECOVERY
GO
RESTORE DATABASE SalesDB FILEGROUP = 'FG07' FROM DISK = 'SalesDB-full.bak' WITH NORECOVERY
RESTORE LOG SalesDB FROM DISK = 'SalesDB-full.bak' WITH RECOVERY
GO
RESTORE DATABASE SalesDB FILEGROUP = 'FG06' FROM DISK = 'SalesDB-full.bak' WITH NORECOVERY
RESTORE LOG SalesDB FROM DISK = 'SalesDB-full.bak' WITH RECOVERY
GO
RESTORE DATABASE SalesDB FILEGROUP = 'FG05' FROM DISK = 'SalesDB-full.bak' WITH NORECOVERY
RESTORE LOG SalesDB FROM DISK = 'SalesDB-full.bak' WITH RECOVERY
GO
RESTORE DATABASE SalesDB FILEGROUP = 'FG04' FROM DISK = 'SalesDB-full.bak' WITH NORECOVERY
RESTORE LOG SalesDB FROM DISK = 'SalesDB-full.bak' WITH RECOVERY
GO
RESTORE DATABASE SalesDB FILEGROUP = 'FG03' FROM DISK = 'SalesDB-full.bak' WITH NORECOVERY
RESTORE LOG SalesDB FROM DISK = 'SalesDB-full.bak' WITH RECOVERY
GO
RESTORE DATABASE SalesDB FILEGROUP = 'FG02' FROM DISK = 'SalesDB-full.bak' WITH NORECOVERY
RESTORE LOG SalesDB FROM DISK = 'SalesDB-full.bak' WITH RECOVERY
GO
RESTORE DATABASE SalesDB FILEGROUP = 'FG01' FROM DISK = 'SalesDB-full.bak' WITH NORECOVERY
RESTORE LOG SalesDB FROM DISK = 'SalesDB-full.bak' WITH RECOVERY
GO

-- change database context
USE SalesDB
GO

-- verify file/filegroup status
SELECT physical_name, state_desc FROM sys.database_files
GO
